<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h2,h3,h5,h6{
            font-size: 30px;
            color: rgb(0, 124, 128);
            text-align: left;
        }
        h1{
            font-size: 50px;
            color: rgb(211, 125, 168);
            text-align: center;
        }
        h4{
            font-size: 30px;
            color: rgb(0, 124, 128);
            text-align: left;
        }
       /* .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}*/
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid rgb(231, 157, 231);
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        <center><h1>Remedies for Acne</h1></center>
        <h2>1.Grape Cleanser</h2>
        <p> Grapes are a refreshing snack, whether eaten plain as a snack, halved as a salad topping, or frozen as a healthy dessert. But grapes likely don’t come to mind when you think of acne treatments.

            Yet according to an article published in April 2016 in Advances in Dermatology and Allergology, resveratrol in the skin of red grapes may exhibit bactericidal activity against Cutibacterium acnes. formerly called Propionibacterium acnes, C. acnes is a bacteria in the sebaceous glands that contributes to acne. (2)
            
            
            </p>
             <img src="https://images.everydayhealth.com/images/easy-home-remedies-for-acne-01-722x406.jpg?w=1110"> 
           

        <h3>2. Cucumber Face Mask</h3>
        
        <p>“Cucumbers have skin soothing and hydrating benefits, so if your skin is inflamed from acne, cucumbers may offer a modest calming benefit,” notes Zeichner. But he warns that they’re not effective at treating the underlying pimples.

            Here’s how to reap the benefits: "Make a paste by blending one small cucumber and 1 cup of oatmeal," says Dr. Cook-Bolden. Mix 1 teaspoon [tsp] of this paste with 1 tsp of yogurt and apply it to your face. Leave it on for 30 minutes, and then rinse.</p>
        <img src="https://images.everydayhealth.com/images/easy-home-remedies-for-acne-02-722x406.jpg?w=1110">
        <h4>3. Cucumber Face Pack</h4>
    <p> 
        If you don’t have oatmeal or yogurt in your kitchen, use this cucumber remedy instead. This cooling, soothing mask will help smooth your skin, which can feel rough from acne. "Mash one whole cucumber, strain the water, add 1 tablespoon of sugar, and mix well," says Cook-Bolden. "Apply to your face and leave it on for 10 minutes; then wash with cold water."
    </p>
     <img src="https://images.everydayhealth.com/images/easy-home-remedies-for-acne-03-722x406.jpg?w=1110">
       <h5>4. Simple Honey Mask</h5>
       <p> Honey has many healing properties. According to the Mayo Clinic, some people use it as a natural cough syrup and to relieve a sore throat. (4)

        According to an article published in August 2016 in the Central Asian Journal of Global Health, in vitro studies suggest that the antibacterial properties of honey may also promote healing of burns and wound infections, and inhibit the growth of C. acnes. (5)
        
        Before applying this mask, rinse your face with warm water, says Cook-Bolden. Then apply the honey and leave it on the skin for 30 minutes. Rinse the honey off with warm water.
        </p>
      <img src="https://images.everydayhealth.com/images/easy-home-remedies-for-acne-04-722x406.jpg?w=1110">
      <h6>5. Oatmeal Facial</h6>
      <p>
        Oatmeal has skin protecting, hydrating, and anti-inflammatory benefits, says Zeichner. “It’s not specifically effective in treating acne, but it can help soothe dry, inflamed skin. I commonly recommend oat-based moisturizers for my patients who use potentially irritating acne treatments,” he further notes.

Mix together 2 tsp of oatmeal, 1 tsp of baking soda, and enough water to form a paste. Smooth the paste all over your face and gently rub it in. Rinse thoroughly afterward.
      </p>
      <img src="https://images.everydayhealth.com/images/easy-home-remedies-for-acne-06-722x406.jpg?w=1110">
    </div>

    </body>
</html> 
