<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h2,h3,h5,h6{
            font-size: 30px;
            color: rgb(0, 124, 128);
            text-align: left;
        }
        h1{
            font-size: 50px;
            color: rgb(211, 125, 168);
            text-align: center;
        }
        h4{
            font-size: 30px;
            color: rgb(0, 124, 128);
            text-align: left;
        }
       /* .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}*/
img{
    width: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid rgb(231, 157, 231);
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        <center><h1>Remedies for Anti-agening</h1></center>
        <h2>#1. Honey and Lemon Juice</h2>
        <p>Lemon is loaded with antioxidants and vitamin C, while, honey act as a natural antibacterial and anti-inflammatory moisturizer on your skin.

            Fresh lemon juice helps to bleach dark spots on the skin. The combination of honey and lemon juice together make your skin tighten and lighten.
            <img src="https://www.beinghappymom.com/wp-content/uploads/2019/04/word-image-38-862x1024.jpeg">
           <br> How to use</br>
            
            <br>Squeeze the juice of a half lemon</br>
            <br> Add 1 tablespoon of raw honey into the lemon juice and mix well</br>
            <br> Apply the mixture on your finely cleansed face</br>
            <br>Keep for 20 minutes</br>
            <br> Wash off with lukewarm water</br>
            <br>If you apply on a daily basis, you may get results between 2-3 months time.</br>  
        </p>

        <h3>#2. Coconut Milk as Home Remedy</h3>
        <p>Coconut milk is a rich source of vitamins C and E. The high levels of Vitamin C helps to protect the skin elasticity and flexibility. While Vitamin E softens the skin with antioxidant properties.

            Besides these, the rich content of copper in the coconut milk prevents wrinkles, sagging skin and age spots.
            <img src="https://www.beinghappymom.com/wp-content/uploads/2019/04/word-image-39-1024x683.jpeg">
       
            <br>How to use</br>
            
           <br> Method 1</br>
            
            <br>Take 3-4 tablespoon of coconut milk</br>
            <br> Dip a cotton ball in coconut milk and apply on the face</br>
            <br> Rinse with cool water after 20 minutes</br>
            <br> Method 2</br>
            
            <br>Soak 5-6 almonds overnight</br>
            <br> Peel their skins off and grind to form a smooth paste by adding 5-6 drops of coconut milk in the morning</br>
            <br>Apply the mixture on the face and leave for 15 minutes</br>
            <br>Later wash off with cold water</p>
            
        <h4>#3. Aloevera to Prevent Anti-aging</h4>
    <p>Aloe vera has a component called alpha hydroxy acids that help to moisturize the skin. Studies have revealed that aloe vera is extremely helpful to reduce the face wrinkles and promotes facial muscle tightening in mid-aged women.

        Aloe vera contains high levels of vitamins, many of them have antioxidant properties which prevent free radicals hence, aloe vera prevents premature aging. Aloe vera is also extremely helpful in sunburn relief.
    </p>
        <br>How to use</br>
        <img src="https://www.beinghappymom.com/wp-content/uploads/2019/04/word-image-40-1024x683.jpeg">
       
         <br>Method 1</br>
         
         <br>Take the extract of aloe vera leaves and apply on the face</br>
         <br>Leave there for 10 minutes</br>
         <br>Rinse off with cold water</br>
         <br>Do this regularly</br>
         <br>Method 2</br>
         <br>Take 1 tablespoon of organic aloe gel, 1 tablespoon of extra virgin olive oil and ¼ cup of brown sugar</br>
         <br>Mix well and massage on face in a circular motion for 5 minutes</br>
         <br>Wash off with lukewarm water</br>
         <br> Do this 2-3 times a week
         
       <h5>#4. Baking Soda and Olive Oil as Home Remedy</h5>
       <p>Olive oil has been used since ancient days for skincare activities. Olive oil contains vitamins, minerals and fatty acids which help in the skin rejuvenation process.

        Baking soda is a powerful exfoliant which helps to remove the dead cells from the surface of the skin. Olive oil and baking soda together act as a great agent to remove wrinkles on the forehead.</p>
        <br>How to use</br>
        <img src="https://www.beinghappymom.com/wp-content/uploads/2019/04/word-image-41-1024x683.jpeg">

<br>Mix 1 teaspoon of olive oil with 1 teaspoon of baking soda</br>
<br>Gently rub the mixture on the forehead</br>
<br>Take a washcloth dipped in hot water and leave there on your forehead</br>
<br>After 5 minutes, wipe off the mixture using lukewarm water</br>
<h6>#5. Sugar Cubes for Anti Aging</h6>
<p>Sugar cubes help to exfoliate your skin. Sugar cubes can be used with any natural oil such as apricot oil, sesame oil or grapeseed oil.

    Sugar cubes will remove the dried cells on your skin while the natural oils moisturize the skin.</p>
    <img src="https://www.beinghappymom.com/wp-content/uploads/2019/04/word-image-42-1024x683.jpeg">
    <br>How to use</br>

    <br>Take 150 gms of sugar and 25 gms of apricot oil</br>
    <br>Mix well and pour the mixture in molds and let them harden</br>
    <br>Use these cubes as scrubs while bathing</br>
    </div>

    </body>
</html>
