<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>

        <div class="abc">
         <h1>Body care tips</h1>

            <h2>Protect yourself from the sun</h2>
            <div class="xyz">
                <div class="pqr">
           <p>
                    Use sunscreen, use a broad-spectrum sunscreen with an SPF of at least 15. Apply sunscreen generously, and reapply every two hours — or more often if you're swimming or perspiring. 
                </p></div>
                <div class="pqr">
                    <img src="https://img.freepik.com/premium-photo/sunscreen-cream-form-sun-blue-background-with-white-tube_188237-592.jpg">
                </div>
                </div>
                

                <h2>Treat your skin gently</h2>
            <p>
                    Limit bath time. Hot water and long showers or baths remove oils from your skin. Limit your bath or shower time, and use warm — rather than hot — water.
Avoid strong soaps. Strong soaps and detergents can strip oil from your skin. Instead, choose mild cleansers.
Shave carefully. To protect and lubricate your skin, apply shaving cream, lotion or gel before shaving. For the closest shave, use a clean, sharp razor. Shave in the direction the hair grows, not against it.
Pat dry. After washing or bathing, gently pat or blot your skin dry with a towel so that some moisture remains on your skin.
Moisturize dry skin. If your skin is dry, use a moisturizer that fits your skin type. For daily use, consider a moisturizer that contains SPF.
                </p>
                
<img src="https://img.freepik.com/free-vector/cartoon-oily-skin-illustration-with-woman_52683-56704.jpg">
                <h2>Skin care tips for oily skin</h2>
            <p>
                    Don’t overdo it with oil-reducing face masks and other drying products.
Exfoliate once or twice per week.
Avoid cream moisturizer. Try a lighter gel instead.
Use a primer or foundation with mattifying properties.
Niacinamide serums can help you to reduce oil.
                </p>
                

                <h2>Skin care tips for dry skin</h2>
            <p>
                    Moisturize damp skin to lock in moisture.
                    Avoid hot water.
                    Reduce caffeine and salt. They can make dry skin worse.
                    Always have a lip balm with you. Your lips will probably get dry throughout the day.
                    Hydrate with a face mask once per week, followed by your moisturizer.
                    Facial oil — nightly, after your moisturizer — is your best friend. 
                </p>
               
                <h2>Skin care tips for combination skin</h2>
            <p>
                    Get familiar with your skin. Do you have an oily T-zone and dry cheeks, for instance? You may want different products for each area.
Opt for gentle products that won’t aggravate the skin. Favor hydrating products that don’t contain alcohol.
Exfoliate gently. While weekly exfoliation is great for oily skin, it may make dry patches feel worse. Take it easy and space exfoliation sessions farther apart if needed.
                </p>
                

                <h2>Skin care tips for normal skin</h2>
            <p>
                    Use a lotion or a cream at night rather than a gel moisturizer.
                    Don’t get carried away with new skin care products. Normal skin tends to require less maintenance. Adding unnecessary steps may cause irritation.
                    Protect your skin with a consistent routine that includes SPF 30 or higher. 
                </p>
                

                


                </div></body>
                </html>
