<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
        
    <h1>Food to control Brain Disorders </h1>
    <h2> 1. Dark Chocolate</h2>
    <div class="xyz">
        <div class="pqr">
            Dark chocolate’s high levels of both magnesium and antioxidants, two nutrients essential for a healthy brain, make it a great food for TBI recovery.<br>
        
        Of course, that doesn’t mean you should add it to every meal. Even though dark chocolate has less processed sugar than milk chocolate, there is still some in it. (see section below on what foods to avoid for why processed sugar is bad for brain injury recovery)<br>
        
        Still, the health benefits of dark chocolate are well established and, most of the time, you can eat it without any guilt on your conscience.<br>
        
        In general, the higher percentage of cocoa, the less sugar it has in it. Therefore, to extract the most health benefits out of dark chocolate, try to consume products containing at least 70% cocoa.
    </div><div class="pqr">
         <img src="https://images.everydayhealth.com/images/is-dark-chocolate-good-for-immune-system-1440x810.tmb-0.jpg?sfvrsn=5ae33064_1">
        </div>
    </div>
       <h2> 2. Fatty fish</h2>
       <div class="xyz">
        <div class="pqr">
         
        The omega-3 fatty acids found in certain types of fish are some of the best foods for brain injury recovery.<br>
        
        This is because the brain is nearly 60% fat, and over half of that fat is omega-3. Thus, if you really want to fuel your brain’s recovery, giving it omega-3 is critical. Plus, your brain actually uses omega-3 to rebuild brain cells.<br>
        
        Omega-3 also plays a huge role in preserving the brain’s plasticity. Since a big part of TBI rehabilitation revolves around engaging neuroplasticity to repair the brain, you are definitely going to want to include omega-3 in your brain injury diet.<br>
        
        Some fish that are rich sources of omega-3 fatty acids include:
        
        <li>Salmon (4,123 mg per serving)</li>
        <li>Mackerel (4,107 mg per serving)</li>
       <li> Sardines (2,205 mg per serving)</li>
        <li>To extract the most health benefits out of fatty fish, it is best to bake or broil the fish.</li>
       </div> <img src="https://www.news-medical.net/image.axd?picture=2020%2F2%2Fshutterstock_1314150635.jpg">
       </div>
    
        <h2>3. Flaxseed oil</h2>
        <div class="xyz">
            <div class="pqr">
        If seafood isn’t really appealing to you, there are many other foods that are rich in omega-3 that you can add to your head injury diet.<br>
        
        For example, flaxseed oil is an excellent source of omega-3 fatty acids and is a great alternative to fish. For example, just pouring one tablespoon on top of your food will give you 57% of your daily value of omega-3.<br>
        
        However, the omega-3 in flaxseed oil is not as easily processed as the omega-3 found in fish. Therefore, you will need to consume more to obtain the same number of benefits.<br>
        
        You can also try adding ground flaxseeds to your morning yogurt or oatmeal.
        </div><div class="pqr">
        <img src="https://www.healthkart.com/connect/wp-content/uploads/2017/08/banner-1-1.jpg">
        </div>
       </div>
        <h2>4. Dark, Leafy Greens</h2>
        <div class="xyz">
            <div class="pqr">
       
        Dark, leafy greens such as kale and spinach are excellent foods for brain injury patients. Not only are they some of the most nutrient-dense foods on earth, they also contain high levels of omega-3<br>
        
        Kale in particular contains a high level of B-vitamins. B-vitamins improve communication between neurons and boost neuronal repair after TBI. Therefore, if you are looking for foods to add to your head injury diet plan, make sure it includes kale.<br>
    </div><div class="pqr"><img src="https://c.ndtvimg.com/2021-01/u3g2ugc8_leafy-green-vegetables-_625x300_30_January_21.jpeg?im=FaceCrop,algorithm=dnn,width=620,height=350">
    </div></div>
        <h2>5. Walnuts and Pumpkin Seeds</h2>
        <div class="xyz">
            <div class="pqr">
        Certain types of seeds such as walnuts and pumpkin seeds are also rich sources of omega-3. For instance, walnuts contain around 2500 mg of omega-3 per serving. In addition, walnut skin is packed with antioxidants, which reduce inflammation and promote brain recovery.<br>
        
        Pumpkin seeds contain good amounts of omega-3 as well, but they also are high in omega-6 fatty acids. Research indicates that too much omega-6 can actually increase inflammation, something that individuals should avoid during their recovery from a brain injury. Therefore, consume pumpkin seeds sparingly.<br>
    </div><div class="pqr"> <img src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/26/46/eee759584a0db29e2b22befa0b21/nuts-and-seeds.jpg">
    </div>
        <h2>6. Berries</h2>
        <div class="xyz">
            <div class="pqr">
        
        Berries are full of antioxidants, which, as we learned, are very helpful in protecting the brain from damage and reducing inflammation.<br>
        
        Studies have also shown certain berries such as strawberries and blueberries to be useful for improving memory, learning, and other cognitive functions.<br>
        
        Blueberries in particular can also increase the production of BDNF, an important growth protein that acts as a fertilizer for your brain. BDNF triggers your brain to enter a process known as neurogenesis.<br>
        
        Neurogenesis is similar to neuroplasticity, except where neuroplasticity refers to the brain’s ability to rewire itself, neurogenesis actually involves the creation of new brain cells.<br>
        
        All of this makes berries, especially blueberries, some of the best food for brain injury recovery.
    </div>
    <div class="pqr"><img src="https://www.mashed.com/img/gallery/30-types-of-berries-and-what-makes-them-unique/30-types-of-berries-and-what-makes-them-unique-1651086527.jpg">
    </div> 
    </div>
        <h2>7. Eggs (and avocados)</h2>
        <div class="xyz">
            <div class="pqr">
        Eggs are important for brain injury patients because they are a good source of choline.<br>
        
        Choline is a nutrient used to create the neurotransmitter acetylcholine, which helps with mood and memory. Higher choline intake has also been shown to lead to better overall cognitive function.<br>
        
        For extra health benefits, try stuffing eggs into an avocado. Avocados are rich in oleic acid, which your brain uses to process information more rapidly. Therefore, combining eggs with avocados can supply your brain with a significant cognitive boost in just one small meal.<br>
    </div>
    <div class="pqr">
        <img src="https://www.slenderkitchen.com/sites/default/files/styles/gsd-16x9/public/recipe_images/avocado-baked-eggs.jpg">
    </div></div> 
        <h2>8. Meat</h2>
        <div class="xyz">
            <div class="pqr">
       
        Meat is an especially great source of zinc, one of the nutrients depleted in the brain after a head injury. In fact, patients show “elevated urinary zinc loss that persists for weeks” and the zinc loss “appears proportional to TBI severity” according to clinical studies. Since zinc plays a critical role in the immune system and the formation of memories, it is vital that patients after a brain injury find ways to replenish it.<br>
        
        Red meat is a particularly great source of zinc. However, processed meat has been linked to an increased risk of heart disease. Therefore, if you want to consume processed meats, try to keep them in moderation.<br>
    </div>
    <div class="pqr">
        <img src="https://www.msc.com/-/media/images/msc-cargo/sectors/food-and-beverages/meat/msc16006196/msc16006196/msc16006196_s.jpg?w=1920&hash=F2F0B6930EDE1CC56E2B5513209F3A51">
    </div></div>
        <h2>9. Legumes and Squash Seeds</h2>
        <div class="xyz">
            <div class="pqr">
        If you have a history of heart disease, or would just prefer to avoid meat products altogether, there are alternatives to meat. For example, legumes such as chickpeas and lentils can provide the zinc you need to recover from brain injury.<br>
        
        In addition, seeds like squash seeds and flaxseeds have also been shown to lower cholesterol and blood pressure. This makes them an all-around great food to add to your diet plan for head injury.<br>
        </div>
        <div class="pqr">
        <img src="https://cdn.shopify.com/s/files/1/1153/7200/articles/3FoodsToNeverEatAgain_Banner-squashed.jpg?v=1614359042">
    </div></div>
       <h2> 10. Turmeric root or powder</h2>
       <div class="xyz">
        <div class="pqr">
        <p>Finally, one of the best foods for brain injury recovery is technically a spice. Turmeric is a curry spice used in many dishes, and it is a rich source of curcumin, which has many benefits for TBI patients.<br>
        
        Not only is curcumin an antioxidant, but it also stimulates the production of an essential growth factor in the brain, called BDNF. As mentioned above, BDNF allows your brain to trigger neurogenesis.<br>
        
        Turmeric has a strong taste and can take some getting used to. But, because it is a spice, you can add it to almost anything! You can sprinkle some on rice or add some to your tea. Chicken soup also goes great with turmeric.<br>
        
        If you want more specific ideas for how to use turmeric in your diet, check out these recipes.</p>
        </div>
        <div class="pqr"><img src="https://cdn.shopify.com/s/files/1/0503/4413/2791/articles/Organic_turmeric_root_powder_800x.jpg?v=1607536360">
        </div></div>
        <h3>Some important tips to keep Brain Healthy</h3>
        <ul>
            <li>Exercise regularly. The first thing I tell my patients is to keep exercising. </li>
            <img src="https://www.mayoclinichealthsystem.org/-/media/national-files/images/hometown-health/2018/brain-caricature-lifting-weights.jpg">
            <li>Get plenty of sleep. Sleep plays an important role in your brain health. </li>
            <img src="https://www.helpguide.org/wp-content/uploads/young-woman-smiling-in-bed-stretching-arms-out.jpg">
            <li>Eat a Mediterranean diet. </li>
            <img src="https://images.everydayhealth.com/images/is-the-mediterranean-diet-best-for-diabetes-1440x810.jpg">
            <li>Stay mentally active. </li>
            <img src="https://img.freepik.com/premium-vector/low-stress-level-good-mood-indicator-energetic-business-woman-jumping-dancing-fully-charged-active-girl-mentally-healthy-employee-professional-productivity-motivation-enthusiasm_458444-800.jpg">
            <li>Remain socially involved.</li>

            <img src="https://www.columbiacommunities.in/wp-content/uploads/2022/05/Premium-retirement-homes-in-Bangalore-1200x900.jpg">
          
        </ul>
    


            
        </div>

    </body>
</html>
