<html>
<style>
    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 75px;
    }
    h1{
        color:indigo;
        text-align: center;
    }
    h2{
        color:orangered;
    }
    .pqr{
    float: left;
    width: 50%;
}
    .xyz:after{
    content: "";
    display: table;
    clear: both;
}
img{
width: 400px;
height:300px;
display: block;
margin-left: auto;
margin-right: auto;
}
.abc {
background-color:beige;
border: 15px solid mediumspringgreen;
padding: 10px;
}
</style>
<body>
    <div class="abc">
        <h1>Different Countries Skin Care Remedies</h1>
        <h2>Japan</h2>
        <div class="xyz">
            <div class="pqr">
        <ul>
            <li>Azuki</li>
            <p>While there are a number of beauty secrets of Japanese women, Azuki is an invaluable ingredient in their skincare regime.
                It is a red bean and has been around for centuries. Japanese women use it for scrubbing and exfoliation across their body so as to remove the dirt and dead skin cells.
                They are left with smoother, blemish-free skin.
            </p>
        </div>
        <div class="pqr">
        <img src="https://blendofbites.com/wp-content/uploads/2021/06/adzuki-bean-with-wood-spoon.jpg">
        </div></div>
            <li> Camellia Oil</li>
            <div class="xyz">
                <div class="pqr">
            <p>This floral oil is also one of the ancient Japanese beauty secrets that have come to light.
               Camellia Oil has the potential to fight all signs of ageing and keep your skin supple and taut. Applying it to your skin can soften fine lines and eliminate wrinkles. Moreover, it restores balance and nourishes the skin.
                Oils are also popular worldwide and have been part of ancient arabian beauty secrets as well.
            </p>
        </div>
        <div class="pqr">
        <img src="https://cdn.shopify.com/s/files/1/0058/4797/3922/articles/jbc_blog_tsubaki_oil.jpg">
        </div></div>
            <li>Komenuka Rice Bran</li>
            <div class="xyz">
                <div class="pqr">
            <p>The Japanese firmly believe that rice is a miracle ingredient which can help transform your skin completely.

                The Komenuka rice bran can be used as a mask on your face. Not only does it have a nourishing effect on your skin but it also acts a potent anti-ageing element. 
                Moreover, it can remove dark circles and give you that flawless look!
            </p>
        </div>
        <div class="pqr">
        <img src="https://cdn.shopify.com/s/files/1/1865/2201/products/ricebranpowder_ab5fe3fb-658c-426b-afb1-3f782b9f5bcc_530x@2x.jpg">
        </div></div>
        </ul>
        <h2>Korea</h2>
        <p>Koreans are known for their flawless and clear skin and any skincare enthusiast would be aware about the great contributions of the Korean beauty industry. 
            Koreans have brought in the trend of glass skin. 
            Popularized by the world of K-beauty, glass skin has a multi-pronged approach to achieving it.
            Add these home remedies to your routine and you are bound to see an improvement in your skin quality in a matter of a few months. 
        </p>
        <ul>
            <li>Lemon and Strawberry Face Mask</li>
            <div class="xyz">
                <div class="pqr">
            <p>Lemon is an antioxidant that naturally contains vitamin C and is known to help reduce skin damage and premature aging. 
                Whereas strawberry is a strong astringent, anti-inflammatory, and it has antioxidant properties that treat acne, protect your skin from UV rays, and helps get rid of dead skin cells. 
            </p>
            <h3>Directions: </h3>
            <p>Mix 2 drops of lemon juice with 5-6 strawberries mashed to a pulp, along with 2 tablespoons of fresh yogurt.
                 Gently apply the mask to your face and neck and let it sit for 30 minutes before washing it off with warm water.
                 Your skin will feel rejuvenated and fresh right after. Repeat this process twice a week for best results. 
            </p>
        </div>
        <div class="pqr">
        <img src="http://cdn.shopify.com/s/files/1/2785/6868/products/43369-crystallized-citrus_lemon-strawberry_1024x1024.jpg">
        </div></div>
            <li>Fermented Rice Water Face Mist </li>
            <div class="xyz">
                <div class="pqr">
            <p>Rice is not only a food staple for the Asians. In China and Korea, fermented rice is a key ingredient in a lot of their skin care regimes. 
                Rice water is known for helping improve skin damage from the sun, it also increases the collagen in the skin, which keeps the skin supple and helps prevent wrinkling.
            </p>
            <h3>Directions: </h3>
            <p>Boil rice, strain and collect the water. Allow it to cool and store it in a spray container.
                 You can also eliminate the boiling process by simply soaking the rice in water overnight and collecting the water the next morning. 
                Allow it to ferment for 2-3 days and then use the fermented rice water as a face mist in the morning after your shower and right before you go to bed. 
            </p>
        </div>
        <div class="pqr">
        <img src="https://static-bebeautiful-in.unileverservices.com/Fermented-rice-water-for-skin-and-hair_3.jpg">
        </div></div>
            <li>Rice Flour and Aloe Vera Face Mask</li>
            <div class="xyz">
                <div class="pqr">
            <p>Rice flour acts as an anti-inflammatory and antioxidant agent that functions to prevent skin aging, reduces UV damage and promotes skin lightening. 
                It is also a natural exfoliator. We are all well aware about the many benefits of aloe vera on our skin. 
                It moisturises the skin, reduces acne and lightens blemishes among the various other benefits.
             </p>
            <h3>Directions: </h3>
            <p>Mix 3 tablespoons of finely ground rice flour with 2 tablespoons of aloe vera pulp along with cold water in proportion to form a thin liquid.
                 Apply this mixture over the face and neck. Leave it on for an hour till it is completely dry, and then wash it off with cold water.
                 It will instantly soothe and revitalise your skin. Use this mask at least once a week for best results. 
            </p>
        </div>
        <div class="pqr">
        <img src="https://static-bebeautiful-in.unileverservices.com/The-Best-Rice-Flour-Face-Pack-Recipes-for-Healthy-Skin_6.jpg">
        </div></div>
        </ul>
        <h2>Turkey</h2>
        <p>It is a fact that women in turkey have beautiful eyes and the loveliest of skin tones. 
            And it seems that they never age? Ageing is part and parcel of life, and we would all have to succumb to it once it takes over. 
            But we can reduce the signs of ageing and bring about youthful vibrant skin using Turkish beauty secrets, just like the women in Istanbul and around turkey do.
        </p>
        <ul>
        <li> Argan Oil Massage</li>
        <div class="xyz">
            <div class="pqr">
        <p>After removing Turkish makeup, one of the Turkish beauty tips we would like to share with you that we learned is to massage the face with a teaspoon of argan oil and to wipe it with warm towels thereafter. 
            This helps open the pores and to let out all the dirt accumulated in the pores.
             Argan oil has minerals in it which also helps replenish the skin and rejuvenate it too.
             Use it once or twice a week, depending on your skin type, and before a shower for the best skin to have.
        </p>
    </div>
    <div class="pqr">
    <img src="https://5.imimg.com/data5/AC/YU/MY-1454254/argan-oil-500x500.jpg">
    </div></div>
        <li> Curd All The Way</li>
        <div class="xyz">
            <div class="pqr">
        <p>Whey and curd in small quantities are used to clean and clear the skin, and as a facial cleanser too.
             Most Turkish women actually use the lactic acid in the curd to lighten their skin too. What they do is to massage the skin with raw or hung curd and whey to clean and clear the pores of the skin. 
             And the lactic acid in the skin helps with lightening the skin tone and brightening the skin texture as well. 
            Hence, a cup of curd to wash the face with at least once or twice a week is a good idea to think off.
        </p>
    </div>
    <div class="pqr">
    <img src="https://mytastycurry.com/wp-content/uploads/2021/04/halwai-like-dahi-at-home.jpg">
    </div></div>
        </ul>
        <h2>China</h2>
        <ul>
            <li>Mung Beans</li>
            <div class="xyz">
                <div class="pqr">
            <p>The face mask of mung beans has cooling properties to detoxify the skin. Mung is readily available in the Asian market or can be ordered through e-commercial sites.
                 These masks are well efficient in de-puffing or healing acne. 
                A bowl of refrigerated and refreshed soup of mung beans can also help in heat reduction.
            </p>
        </div>
        <div class="pqr">
        <img src="https://img.freepik.com/free-photo/mung-beans-isolated-white-background_93675-132039.jpg">
        </div></div>
            <li>Turmeric Mask</li>
            <div class="xyz">
                <div class="pqr">
            <p>DIY mask of turmeric is one of the popular tips for healthy skin. The anti-ageing property of turmeric helps reduce wrinkles and keep the skin tone even. 
                This orange root has the potential to prevent pores from clogging and is one of the most straightforward tips for clear skin.
            </p>
        </div>
        <div class="pqr">
        <img src="https://img.freepik.com/free-photo/dry-turmeric-dust-haldi-powder-also-known-as-curcuma-longa-linn-selective-focus_466689-75839.jpg">
        </div></div>
        </ul>
        <h2>Greece</h2>
        <ul>
            <li>Use an Antibacterial and Healing Facial Honey Mask</li>
            <div class="xyz">
                <div class="pqr">
            <p>One of the most common Grecian mask preparations is to mix olive oil and honey.
                 Honey is one of the most naturally antibacterial ingredients while olive oil is super healing,. 
                 Before your bath, place 1/4 cup of honey in a short jar or bowl (adding a small amount of warm water to the honey to make the honey more spreadable). Mix 1/4 [cup] extra-virgin olive oil in with the honey.
                 Apply with a clean paintbrush or makeup brush to your face. Let the mixture sit for 10 minutes, and remove with a washcloth.
            </p>
        </div>
        <div class="pqr">
        <img src="https://t4.ftcdn.net/jpg/02/17/41/85/240_F_217418561_1futVSzF0fdPOozfnD9eCoELIsEZetqW.jpg">
        </div></div>
            <li> Try Olive Oil as a Moisturizer</li>
            <div class="xyz">
                <div class="pqr">
            <p>Ancient Greeks used their native olive tree for everything, including to hydrate and moisturize skin and hair.
                Olive oil was called liquid gold by Homer, and it had an almost mythical status in ancient Greece.
                 Ancient women of Crete used it for their hair, face, and body as it's a natural source of vitamins, minerals, amino acids, and antioxidants. 
                 It nourishes skin deeply while also locking in moisture, preventing transepidermal water loss and restoring elasticity to maintain youthful skin that is instantly hydrated, refreshed, and softened.
                 Put a small amount of olive oil into your hand and lightly press it onto your face.Olive is full of omega acids and tocopherols that heal and nourish the skin.
            </p>
        </div>
        <div class="pqr">
        <img src="https://img.freepik.com/free-photo/olive-oil-bowl_144627-16534.jpg">
        </div></div>
        </ul>
        <h2>Egypt</h2>
        <ul>
            <li>Milk and Honey Face Masks</li>
            <div class="xyz">
                <div class="pqr">
            <p>Honey was used for its hydrating ability and Cleopatra was believed to use milk and honey face masks to for their moisturizing properties. 
            </p>
        </div>
        <div class="pqr">
        <img src="https://img.freepik.com/free-photo/delicious-honey-with-wooden-honey-dipper-white-surface_1150-42253.jpg">
        </div></div>
        </ul>
        <li></li>
        </div>
</body>
</html>
