<html>
<style>
    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 75px;
    }
    h1{
        color:salmon;
        text-align: center;
    }
    h2{
        color:darkcyan;
    }
    .pqr{
    float: left;
    width: 50%;
}
    .xyz:after{
    content: "";
    display: table;
    clear: both;
}
img{
width: 400px;
height:300px;
display: block;
margin-left: auto;
margin-right: auto;
}
.abc {
background-color:linen;
border: 15px solid mediumpurple;
padding: 10px;
}
</style>
<body>
    <div class="abc">
        <h1>Remedies for dandruff</h1>
        <h2>Coconut oil and lemon:</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Coconut oil is something that everyone's grandmother advices. 
            Its antifungal properties can provide a great relief from itchiness and dry scalp.</p>
        <p>How to apply this?</p>
        <ol>
            <li>Combine equal amounts of coconut oil and lemon juice and massage the mixture on your scalp. </li>
            <li>Keep it for about 10-15 minutes and rinse your hair thoroughly.</li>
            <li>Make sure to preheat the oil in winter as it tends to freeze easily in colder temperatures.</li>
        </ol>
        <p>This will not only help you get rid of dandruff but also boost hair growth and nourishment. </p>
            </div>
            <div class="pqr">
        <img src="https://media.newstrack.in/uploads/lifestyle-health/fashion-and-beauty/Dec/09/big_thumb/bb_5b644f1663222_5c0c9e44e62f8.jpg">
            </div></div>
        <h2>Yogurt:</h2>
            <div class="xyz">
                <div class="pqr">
            <p>The lactic acid in yogurt helps reduce dandruff and the protein in it strengthens your hair from its roots. 
                It is a treasure trove of friendly bacteria and helps prevent flaking of the scalp area.</p>
            <p>How to apply this?</p>
            <ol>
                <li>Apply a layer of fresh yogurt on the scalp and hair.</li>
                <li>Let it sit for 10-15 minutes and rinse with lukewarm water and dry.</li>
                <li>You can try adding black pepper to yogurt since that is also loaded with anti fungal properties.</li>
            </ol>
                </div>
                <div class="pqr">
                    <img src="https://cdn.britannica.com/86/197886-050-014D8A12/bowl-yogurt.jpg">
                </div></div>
        <h2>Neem:</h2>
            <div class="xyz">
                <div class="pqr">
            <p>Because of its antibacterial, anti fungal and antimicrobial properties, it is a simple cure for dandruff and itchiness.
                A homemade neem pack is the easiest remedy for dandruff.
            </p>
            <p>How to apply this?</p>
            <ol>
                <li>All you have to do is take some neem leaves, grind them in the mixer and add a tablespoon of honey to it.</li>
                <li> Once it becomes a thick paste, put it all over the scalp like a hair mask and allow it to stay for 20 minutes. </li>
                <li>Wash it when it is suitably dry and watch the wonders it does to your scalp.</li>
            </ol>
                </div>
                    <div class="pqr">
                        <img src="https://5.imimg.com/data5/SR/IS/MY-5751538/neem-leaves-500x500.jpg">
                    </div></div>
       <h2>Aloevera:</h2>
           <div class="xyz">
                <div class="pqr">
                    <p>A panacea for all type of skin problems, Aloe Vera alleviates flakiness and skin irritation, acts as a natural coolant and makes your scalp itch free and cool. 
                        Aloe Vera has certain anti fungal properties that helps treat recurring dandruff and cleanses dead skin for regeneration of fresh cells.
                    </p>
                    <p>How to apply this?</p>
                    <ul>
                        <li>Apply aloe vera gel on your scalp, leave for about half an hour and later wash your hair with a mild shampoo</li>
                    </ul>
                        </div>
                            <div class="pqr">
                                <img src="https://www.healthshots.com/wp-content/uploads/2020/07/aloe-vera-gel.jpg">
                            </div></div>
        <h2>Olive oil and Vinegar:</h2>
        <div class="xyz">
            <div class="pqr">
                <p>Olive oil acts as a natural conditioner for hair, and being lightweight, applying it on hair doesn't weigh them down.
                     Combined with acetic properties of vinegar, the mixture guards the scalp from fungal infection and at the same time improves blood circulation.
                </p>
                <p>How to apply this?</p>
                <ul>
                    <li>Mix 1 teaspoon olive oil with 2 teaspoon of vinegar.</li>
                    <li>Apply the mixture evenly on hair and massage the scalp for 5 minutes.</li>
                    <li>Wash it with antidandruff shampoo and apply a conditioner for best results.</li>
                </ul>
                    </div>
                        <div class="pqr">
                            <img src="https://thumbs.dreamstime.com/z/bottles-olive-oil-vinegar-3622046.jpg">
                        </div></div>
    </div>
</body>
</html>
