<html>
<style>
    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 75px;
    }
    h1{
        color:cornflowerblue;
        text-align: center;
    }
    h2{
        color:goldenrod;
    }
    .pqr{
    float: left;
    width: 50%;
}
    .xyz:after{
    content: "";
    display: table;
    clear: both;
}
img{
width: 400px;
height:300px;
display: block;
margin-left: auto;
margin-right: auto;
}
.abc {
background-color:lightgray;
border:15px solid lightseagreen ;
padding: 10px;
}
</style>
<body>
    <div class="abc">
        <h1>Remedies for dryhair</h1>
        <h2>Regular oiling with hot oil </h2>
        <div class="xyz">
            <div class="pqr">
        <p>Hot hair oil massage is one of the essential treatments for dry hair. Various oils are useful to treat dry hair effectively, such as coconut oil, almond oil, jojoba oil, and olive oil. 
            All these oils are rich in vitamin E and antioxidants that help lock the moisture in your hair.
             You can combine all these oils to make an effective homemade oil. </p>
        <p>How to apply this?</p>
        <ol>
            <li>Mix all oils and warm it but do not boil.</li>
            <li>Gently massage this oil on the scalp and hair.</li> 
            <li>Cover the hair with a warm towel.</li>
            <li>Leave for 30 to 45 minutes or overnight.</li>
            <li>After this time, shampoo and rinse the hair.</li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://hindi.cdn.zeenews.com/hindi/sites/default/files/styles/zm_700x400/public/2021/06/18/850762-hair-oiling.jpg">
            </div></div>
        <h2>Egg yolk and water pack </h2>
        <div class="xyz">
            <div class="pqr">
        <p>Eggs are rich in proteins, sulfur, biotin, and honey is rich in antioxidants. Both ingredients help restore the moisture to avoid further damage.  </p>
        <p>How to apply this?</p>
        <ol>
            <li>Separate the egg yolk from the egg white.</li>
            <li>Then add 3 tablespoons of water in it and mix well.</li>
            <li>Apply all over your hair and wait for 30 minutes before washing with cold water.</li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://images.ctfassets.net/3s5io6mnxfqz/78Gp82pg6i1AZOxtasgBU0/51f6b5b4ec8cbfa8f393f037451677f7/AdobeStock_172180459.jpeg">
            </div></div>
        
        <h2>Yogurt and honey mask</h2>
        <div class="xyz">
            <div class="pqr">
        <p>This combination is excellent for dry hair. Yoghurt is rich in proteins that build hair, has lactic acid that cleanses the scalp.
             The honey helps to seal the moisture and prevent damage.  </p>
        <p>How to apply this?</p>
        <ol>
            <li>Combine yoghurt and honey nicely.</li>
            <li>Apply the mask onto your scalp and hair.</li>
            <li>Leave it for 15 -20 minutes.</li>
            <li>Rinse your hair with cold water and shampoo.</li>
        </ol>   
            </div>
            <div class="pqr">
        <img src="https://recipe-garden.com/wp-content/uploads/2021/09/honeyvanillagreekyogurt6.jpg">
            </div></div>
        <h2> Avocado and banana pack </h2>
        <div class="xyz">
            <div class="pqr">
        <p>It is the most trending hair pack now. Avocado is rich in proteins, amino acids, and vitamins to soothe the scalp and promote healthy hair growth. 
            It contains natural oils that moisturize your hair. Banana contains folic acid and potassium that nourishes the hair.</p>
        <p>How to apply this?</p>
        <ol>
            <li>Blend avocado and peeled banana in a fine paste.</li> 
            <li>Add some drops of olive oil and blend it again.</li> 
            <li>Apply this mask to your hair and cover it with a shower cap.</li>
            <li>Leave it for 20-30 minutes and rinse it off.</li>
        </ol>
            </div>
            <div class="pqr">
                <img src ="https://michelledawnom.files.wordpress.com/2013/07/avoban.jpg">
            </div></div>
        <h2> Rice milk and honey hair wash </h2>
            <div class="xyz">
                <div class="pqr">
            <p>Rice milk is one of the old but famous tricks to seal the natural moisture in your hair. It also nourishes the hair.
                 Honey is a natural emollient that keeps your hair smooth.</p>
            <p>How to apply this?</p>
            <ol>
                <li>Take one cup of rice milk and add 2 tablespoons of honey in it.</li>
                <li>Mix the ingredients until it is consistent.</li>
                <li>Apply this mixture over your hair and allow it to sit for 10-15 minutes.</li>
                <li>Wash it off with shampoo. </li>
            </ol>
                </div>
                <div class="pqr">
                    <img src ="https://cdn2.stylecraze.com/wp-content/uploads/2013/11/5.-Rice-Milk-And-Honey-Hair-Wash.jpg">
                </div></div>   
            </div>
            </body>
            </html>
