<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h2,h3,h4,h5,h6{
            font-size: 35px;
            color: rgb(0, 124, 128);
            text-align: left;
        }
        h1{
            font-size: 50px;
            color: rgb(211, 125, 168);
            text-align: center;
        }
      
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid rgb(231, 157, 231);
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        <center><h1>Remedies for Dry skin</h1></center>
        <h2>1. Stop baths and showers from worsening dry skin</h2>
        <div class="xyz">
            <div class="pqr">
        <p>When the humidity drops or your skin feels dry, be sure to:
<ol>
            <br>Close the bathroom door.</br>
            <br> Use warm rather than hot water.</br>
            <br>Limit your time in the shower or bath to 5 or 10 minutes.</br>
            <br> Wash with a gentle, fragrance-free cleanser.</br>
            <br>Apply enough cleanser to remove dirt and oil, avoid using so much that you see a thick lather.</br>
            <br> Blot your skin gently dry with a towel.</br>
            <br>Slather on the moisturizer immediately after drying your skin.</br>
        </p></ol>
        <h3>2. Apply moisturizer immediately after washing</h3>
        <p><br>Ointments, creams, and lotions (moisturizers) work by trapping existing moisture in your skin.</br>
           <br>  To trap this much-needed moisture, you need to apply a moisturizer within few minutes of:</br>

           <br> Drying off after a shower or bath</br>
           <br> Washing your face or hands.</br></p>
            </div>
            <div class="pqr">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhHHgYu9E1FaROOIF3SR0AcdkPsBCSo7WgbJJMIOAxmbjFU-nEG729t50NRrcSHrlDKTg&usqp=CAU.jpg">
            </div></div>
        <h4>3. Use an ointment or cream rather than a lotion</h4>
        <p>Ointments and creams are more effective and less irritating than lotions. Look for a cream or ointment that contains one or more of the following ingredients:
            <br>Jojoba oil</br>
            <br> Dimethicone</br>
            <br>Glycerin</br>
            <br>Hyaluronic acid</br>
            <br>Lactic acid</br>
            <br>Lanolin</br>
            <br>Mineral oil</br>
            <br>Petrolatum</br>
            <br>Shea butter</br></p>
    <h5>4.Use only gentle, fragrance-free skin care products</h5>
    <p> Some skin care products, such as deodorant soaps, are too harsh for dry, sensitive skin. Dermatologists recommend using products labeled "fragrance-frree."
        If you see the word "unscented," the product can contain chemicals that neutralize or hide the odors of other ingredients. These chemicals can irritate dry, sensitive skin..</p>
       <h6>5. Wear gloves</h6>
       <p>Our hands are often the first place we notice dry skin. You can reduce dry, raw skin by putting on gloves before you:
<ol>
       <br> Go outdoors in winter.</br>
        <br>Perform tasks that require you to get your hands wet.</br>
        <br>Get chemicals, greases, and other substances on your hands.</br></p></ol>
        </div>

    </body>
</html>
