<html>
<style>
    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 75px;
    }
    h1{
        color:brown;
        text-align: center;
    }
    h2{
        color:mediumorchid;
    }
    .pqr{
    float: left;
    width: 50%;
}
    .xyz:after{
    content: "";
    display: table;
    clear: both;
}
img{
width: 400px;
height:300px;
display: block;
margin-left: auto;
margin-right: auto;
}
.abc {
background-color:ivory;
border: 15px solid rebeccapurple;
padding: 10px;
}
</style>
<body>
    <div class="abc">
        <h1>Exercises</h1>
        
        <p>Regular physical activity is one of the most important things you can do for your health. Being physically active can improve your brain health, help manage weight, reduce the risk of disease, strengthen bones and muscles, and improve your ability to do everyday activities.
            Adults who sit less and do any amount of moderate-to-vigorous physical activity gain some health benefits. Only a few lifestyle choices have as large an impact on your health as physical activity.
            Everyone can experience the health benefits of physical activity-age, abilities, ethnicity, shape, or size do not matter.</p>
        <h1>Benefits of exercies</h1>
        <p>Some benefits of physical activity on brain health happen right after a session of moderate-to-vigorous physical activity. 
            Benefits include improved thinking or cognition for children 6 to 13 years of age and reduced short-term feelings of anxiety for adults. 
            Regular physical activity can help keep your thinking, learning, and judgment skills sharp as you age. It can also reduce your risk of depression and anxiety and help you sleep better.
        </p>
    
        <h2>Weight Management</h2>
        <p>Both eating patterns and physical activity routines play a critical role in weight management. You gain weight when you consume more calories through eating and drinking than the amount of calories you burn, including those burned during physical activity.
           <h3>To maintain your weight:</h3> <p>Work your way up to 150 minutes a week of moderate physical activity, which could include dancing or yard work. You could achieve the goal of 150 minutes a week with 30 minutes a day, 5 days a week.
            People vary greatly in how much physical activity they need for weight management. You may need to be more active than others to reach or maintain a healthy weight.</p>
            <h3>To lose weight and keep it off:</h3> <p>You will need a high amount of physical activity unless you also adjust your eating patterns and reduce the amount of calories you're eating and drinking. Getting to and staying at a healthy weight requires both regular physical activity and healthy eating.
            </p>
        </p>
        <h2>Reduce Your Health Risk</h2>
        <h3>Cardiovascular Disease</h3>
        <p>Heart disease and stroke are two leading causes of death in the United States. Getting at least 150 minutes a week of moderate physical activity can put you at a lower risk for these diseases. 
            You can reduce your risk even further with more physical activity.
             Regular physical activity can also lower your blood pressure and improve your cholesterol levels.
        </p>
        <h3>Type 2 Diabetes and Metabolic Syndrome</h3>
        <p>Regular physical activity can reduce your risk of developing type 2 diabetes and metabolic syndrome.
             Metabolic syndrome is some combination of too much fat around the waist, high blood pressure, low high-density lipoproteins (HDL) cholesterol, high triglycerides, or high blood sugar. 
             People start to see benefits at levels from physical activity even without meeting the recommendations for 150 minutes a week of moderate physical activity.
             Additional amounts of physical activity seem to lower risk even more.
        </p>
        <h3>Some Cancers</h3>
        <p>Being physically active lowers your risk for developing several common cancers.
              Adults who participate in greater amounts of physical activity have reduced risks of developing cancers of the:
              <ul>
                <li>Bladder</li>
                <li>Breast</li>
                <li>Colon (proximal and distal</li>
                <li>Endometrium</li>
                <li>Esophagus (adenocarcinoma)</li>
                <li>Kidney</li>
                <li>Lung</li>
                <li>Stomach (cardia and non-cardia adenocarcinoma)</li>
              </ul>
        </p>
        <h2>Strengthen Your Bones and Muscles</h2>
        <p>As you age, it's important to protect your bones, joints, and muscles-they support your body and help you move. Keeping bones, joints, and muscles healthy can help ensure that you're able to do your daily activities and be physically active.
            Muscle-strengthening activities like lifting weights can help you increase or maintain your muscle mass and strength. This is important for older adults who experience reduced muscle mass and muscle strength with aging.
             Slowly increasing the amount of weight and number of repetitions you do as part of muscle strengthening activities will give you even more benefits, no matter your age.
        </p>
        <h1>Exercises For Overall Health And Fitness</h1>
        <h2>Pushups</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Pushups work multiple muscle groups, strengthening the arms, chest, and shoulders.</p>
        <h3> How to do them:</h3>
        <ul>
            <li>Start in a plank position with the arms straight and the body lifted in a straight line horizontal to the floor. Keep the feet together and the toes flexed to support the body.</li>
            <li>The palms should be flat on the floor shoulder-width apart, with the fingers facing straight ahead or slightly inward.</li>
            <li>Keeping the head in line with the spine, slowly bend the elbows outward and lower the body down to the floor.</li>
            <li>Try to keep the hips and lower back in line.</li>
            <li>Lower as far as possible, aiming to touch the chest or chin to the floor.</li>
            <li>Use the arm muscles to press the body back up into the starting position.</li>
            <li>Keep the abdominal muscles engaged throughout to help support the back.</li>
        </ul>
    </div>
    <div class="pqr">
    <img src="https://i0.wp.com/post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/11/400x400_Pushup_Variations_That_Work_Your_Biceps_Pushup.gif">
    </div></div>
        <h2>Bodyweight squats</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Bodyweight squats can increase lower body and core strength as they work the abs, buttocks, hips, thighs, calves, and shins.</p>
           <h3>How to do them:</h3>
           <ul>
            <li>Stand with the feet slightly wider than hip-width apart, angling the toes slightly outward.</li>
            <li>Keep the hands down by the sides, with the palms facing in and keep the shoulders back.</li>
            <li>Engage the abdominal muscles to support the back.</li>
            <li>Shift the hips back and bend the knees as though taking a seat, keeping a flat back.</li>
            <li>Keep lowering down to the ground until the thighs are parallel with the floor.</li>
            <li>Push through the feet to straighten back up into the starting position.</li>
            <li>Inhale into the squat, then exhale when standing back up.</li>
        </ul>
    </div>
    <div class="pqr">
    <img src="https://i0.wp.com/post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/11/400x400_5_isometric_exercises_for_people_to_try_Isometric_Squat.gif">
    </div></div>
        <h2>Lunges</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Lunges work the thighs, buttocks, hips, and abdominal muscles.</p>
         <h3>How to do them:</h3>
         <ul>
            <li>Stand upright with the feet together.</li>
            <li>Step one leg forward into a long stride, bending the knee and placing the foot flat on the floor.</li>
            <li>Bend the knee of the supporting leg toward the floor.</li>
            <li>Use the muscles of the forward leg to push back to standing.</li>
            <li>Repeat with the opposite leg.</li>
        </ul>
    </div>
    <div class="pqr">
    <img src="https://i0.wp.com/post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/11/400x400_Hip_Extension_Exercises_to_Try_at_Home_Alternating_Forward_Lunge.gif">
    </div></div>
        <h2>Running</h2><div class="xyz">
            <div class="pqr">
        <p>Running is a form of aerobic exercise, and it can help improve cardiovascular fitness and bone strength. Jogging is a less intense form of running and may be best for beginners.
            People can often improve their running endurance through interval running, which involves running for a certain distance or time and then switching to walking before running again. Alternatively, people can switch between running and sprinting.
            Sprint interval training may help decrease body fat, increase aerobic capacity, and increase peak running speed.
        </p>
    </div>
    <div class="pqr">
    <img src="https://media.tenor.com/XxGMOzCZfgMAAAAj/man-running-joypixels.gif">
    </div></div>
        <h2>Glute bridge</h2>
        <div class="xyz">
            <div class="pqr">
        <p>The glute bridge is good for the muscles in the back of the body, known as the posterior chain.</p>
         <h3>How to do it:</h3>
         <ul>
            <li>Lie on the back with the knees bent and the feet flat on the floor.</li>
            <li>Contract the buttocks and abdominals to lift the hips off the floor, bringing them in line with the shoulders and knees. Avoid arching the lower back.</li>
            <li>Slowly lower back to the starting position.</li>
        </ul>
    </div>
    <div class="pqr">
    <img src="https://i0.wp.com/post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/11/400x400_24_Standing_Ab_Exercises_to_Strengthen_and_Define_Your_Core_Glute_Bridge.gif">
    </div></div>
        <h2>Swimming</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Swimming uses almost all the muscle groups but is a low impact exercise. Therefore, it may suit people with certain injuries or health conditions.
         A person should swim in a public pool or a safe, supervised environment, particularly if they are a beginner.</p>
        </div>
        <div class="pqr">
        <img src="https://media.tenor.com/ALV2fA5EuAoAAAAC/swimming-kraul.gif">
        </div></div>
        <h2>Planks</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Planks strengthen the back and abdominal muscles and help build core strength.</p>
        <h3>How to do them:</h3>
        <ul>
            <li>Start with the elbows and lower arms on the floor, keeping the elbows in line with the shoulders.</li>
            <li>Lift the body so that it forms a straight line horizontal to the floor.</li>
            <li>Keep the feet together and the toes flexed to support the body.Hold for 20-30 seconds.</li>
            <li>Slowly lower to the floor and rest for 1 minute, then repeat 3-5 times.</li>
        </ul>
        </div>
        <div class="pqr">
        <img src="https://i0.wp.com/post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/11/400x400_The_Best_Postpartum_Exercises_to_do_Right_Now_Postpartum_Planks.gif">
        </div></div>
</div>
</body>
</html>
