<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
       
       <h1>Best food for healthy eyes</h1>
       <h2> Fish</h2>
       <div class="xyz">
           <div class="pqr">
            Many fish are rich sources of omega-3 fatty acids.

            Oily fish are fish that have oil in their gut and body tissue, so eating them offers higher levels of omega-3-rich fish oil. The fish that contains the most beneficial levels of omega-3s include:
            <ul>
            <li>tuna</li>
            <li>salmon</li>
           <li> trout</li>
            <li>mackerel</li>
            <li>sardines</li>
            <li>anchovies</li>
            <li>herring</li></ul>
            Some studies have found that fish oil can reverse dry eye, including dry eye caused by spending too much time on a computer.
       </div><div class="pqr">
            <img src="https://assets.medpagetoday.net/media/images/100xxx/100387.jpg">
           </div>
       </div>
          <h2> Citrus Fruits</h2>
          <div class="xyz">
           <div class="pqr">
            
            Citrus fruits are rich in vitamin C. Just like vitamin E, vitamin C is an antioxidant that is recommended by the AOA to fight age-related eye damage.

            Vitamin C-rich citrus fruits include:
           
           <li>lemons</li>
           <li>oranges</li>
          <li>grapefruits</li>
         
          </div> <img src="https://www.healthifyme.com/blog/wp-content/uploads/2022/01/921263089sst1641215525-scaled.jpg">
          </div>
       
           <h2>Leafy green vegetables</h2>
           <div class="xyz">
               <div class="pqr">
                Leafy green vegetables are rich in both lutein and zeaxanthin and are also a good source of eye-friendly vitamin C.

                Well-known leafy greens include:
                <li>spinach</li>
           <li>kale</li>
          <li>collards</li>
           </div><div class="pqr">
           <img src="https://www.verywellfit.com/thmb/HqSNlWjBjy4H20on_tB0n_ULTwc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-962568356-38ba213f25ba43159500d909c4d5c926.jpg">
           </div>
          </div>
           <h2>Nuts and Legumes</h2>
           <div class="xyz">
               <div class="pqr">
          
                Nuts are also rich in omega-3 fatty acids. Nuts also contain a high level of vitamin E, which can protect the eye from age-related damage.

                Nuts are available for purchase in most grocery stores and online. Nuts and legumes that are good for eye health include:
                
                <li>walnuts</li>
                <li>Brazil nuts</li>
               <li>cashews</li> 
                <li>peanuts</li>
                <li>lentils</li>
       </div><div class="pqr">
        <img src="https://www.preparedfoods.com/ext/resources/ISSUES/2018/November/GettyImages-971898468.jpg">
       </div></div>
           <h2>Seeds</h2>
           <div class="xyz">
               <div class="pqr">
                Like nuts and legumes, seeds are high in omega-3s and are a rich source of vitamin E.

                Seeds are available for purchase in most grocery stores and online. Seeds high in omega-3 include:
                
                <li>chia seeds</li>
                <li>flax seeds</li>
                <li>hemp seeds</li>
       </div><div class="pqr"> <img src="https://static.toiimg.com/photo/msid-84893090/84893090.jpg">
       </div>
           <h2>Carrots and Sweet potatoes</h2>
           <div class="xyz">
               <div class="pqr">
           
                Carrots are rich in both Vitamin A and beta carotene. Beta carotene gives carrots their orange color.

                Vitamin ATrusted Source plays an essential role in vision. It is a component of a protein called rhodopsin, which helps the retina to absorb light.
                
                Research on beta carotene’s role in vision is mixed, though the body needs this nutrient to make vitamin A.<br>
                Like carrots, sweet potatoes are rich in beta carotene. They are also a good source of the antioxidant vitamin E.
           
       </div>
       <div class="pqr">
        <img src="http://cdn.shopify.com/s/files/1/0550/4077/0177/articles/Screenshot_2019-10-14_at_16.24.59.png">
       </div> 
       </div>
           
           <h2>Eggs and Meat</h2>
           <div class="xyz">
               <div class="pqr">
          
                Eggs are an excellent source of lutein and zeaxanthin, which can reduce the risk of age-related sight loss. Eggs are also good sources of vitamins C and E, and zinc.<br>Beef is rich in zinc, which has been linked toTrusted Source better long-term eye health. Zinc can help delay age-related sight loss and macular degeneration.

                The eye itself contains high levels of zinc, particularly in the retina, and the vascular tissue surrounding the retina.
                
                Meats such as chicken breast and pork loin also contain zinc, but at lower levelsTrusted Source than beef.
                
    
       </div>
       <div class="pqr">
           <img src="https://foodsafetyhelpline.com/wp-content/uploads/2018/12/Meat-Products.jpg">
       </div></div>
           <h2>Water</h2>
           <div class="xyz">
               <div class="pqr">
                It may come as no surprise that a fluid essential to life is also vital to eye health.

                Drinking plenty of water can prevent dehydration, which may reduce the symptoms of dry eyes.
                
           </div>
           <div class="pqr">
           <img src="https://shabiba.eu-central-1.linodeobjects.com/2020/02/10/1103010.jpg">
       </div></div>
       <h3>Other eye Health tips</h3>
       <li>wearing sunglasses outside, since excessive sun exposure can cause cataracts. A range of sunglasses is available for purchase online.</li>
<li>stop smoking</li>
<li>getting regular eye exams, particularly if there is a family history of eye disease</li>
<li>wearing eye protection when working with possible eye irritants or dangerous chemicals</li>
<li>washing hands before applying contacts</li>
<li>wearing contacts only for the period recommended by the doctor or manufacturer</li>
<li>protecting eyes from computer-related eye strain by looking away every 20 minutes at something 20 feet away, for 20 seconds</li>
    </div>
       <h3>Warning signs for eye health</h3>
       <ul>
        <li>frequent changes in visual clarity</li>
        <li>seeing distorted images</li>
        <li>seeing floaters or flashes in the field of vision</li>
        <li>reduced peripheral vision</li>
       </ul>
       
       </div>
       </body>
       </html>
          
