<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
       
       <h1>Food during periods</h1>
       <h2> Yogurt</h2>
       <div class="xyz">
           <div class="pqr">
            When it comes to yogurt, everything boils down to the good bacteria it carries. It keeps the gut healthy and contributes to better immunity. It levels out the pH balance of your vagina, keeping dryness, itching, and bad odor away.<br>
            You’ll be glad to know that according to a study published in the Archives of Family Medicine, consuming 150 ml of yogurt daily can prevent candidal vaginitis and bacterial vaginosis.
            
           
       </div><div class="pqr">
            <img src="https://www.thespruceeats.com/thmb/Wd3sYTzS6Kq7PEObrghGx4BPvVs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-515777808-5b07acf123c548d1b39b7f6b2e6253f9.jpg">
           </div>
       </div>
          <h2>Citrus fruits</h2>
          <div class="xyz">
           <div class="pqr">
            Citrus fruits have the power to rock your vaginal health, especially if recurring infections and vaginal discharge are the issues you face. This is because of the heavy dose of vitamin C. According to a study published in the Journal of Clinical Medicine Research, consuming vitamin C on a regular basis lowers the risk of recurring vaginal infections by half due to the presence of ascorbic acid.
           
      
         
          </div> <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/11956/ba1bd78f-468b-465a-9d3b-36454148fe45.jpg">
          </div>
       
           <h2> Eggs</h2>
           <div class="xyz">
               <div class="pqr">
                The yolk of an egg is one of the premium sources of vitamin D. It has been observed that people who suffer from bad vaginal health also lack vitamin D in their bodies. This makes them more prone to infections which ultimately leads to an unhealthy vagina. According to a study published in the Indian Journal of Medical Research, eating eggs is a must if you want to tame vaginal infections.
               
               
           </div><div class="pqr">
           <img src="https://www.thespruceeats.com/thmb/jgVJNLtQKnT8I6niCaZbmzFpprA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/perfect-hard-boiled-eggs-995510-Hero_3-03d1b108d1ca489dad9e1f1d7fdba73f.jpg">
           </div>
          </div>
           <h2>Fish</h2>
           <div class="xyz">
               <div class="pqr">
                Omega-3 is another friend that your vagina needs. Do you know that eating fish or omega-3 rich food helps in preventing endometriosis? This is stated by none other than the Oxford journal, Human Reproduction.
          
               
              
       </div><div class="pqr">
        <img src="https://www.knorr.com/content/dam/unilever/knorr_world/global/general_image/savoury/meal_solutions/28_knorr_tips_how_to_cook_fish_01-708165.jpg.ulenscale.838x450.jpg">
       </div></div>
           <h2>Broccoli</h2>
           <div class="xyz">
               <div class="pqr">
                Love it or hate it, but broccoli is what you need to reinstall your vaginal health. That’s because it is loaded with flavonoids which are the antioxidants that are required by your body in good amounts. According to research published in the International Journal of Cancer, there might be chances that you can avoid ovarian cancer by a great margin if you include broccoli in your diet. Well, that’s good enough reason to eat a big bowl of broccoli every day.
               
       </div><div class="pqr"> <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/5390/h1218g16207258089583.jpg">
       </div>
       <h3>Some healthy and effective yoga positions</h3>
       <li>Prasarita padottanasana</li>
       <li>Titliasana</li>
       <li>Baddha Konasana</li>
       <li>Chakrasana</li>
       <li>Dhanurasana</li>
       <li>Supta Vajrasana</li>

    </div>
     
    </div></div>
       </div>
       </body>
       </html>
          
