<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>

        <div class="abc">
         <h1>Foot care remedies</h1>

            <h2>Banana</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Take 2 ripe bananas mash into a smooth paste. Avoid unripe bananas as it contains acid that is not good for the skin.

                    Apply the paste all over the feet, including the nails and sides of the toe. Let it stay for 20 minutes and then rinse your feet with water.
                    
                    Repeat this for at least 2 weeks before going to bed to get best results.  
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/top-view-nutrition-source-fresh-bananas-bundle-chopped-glass-pot-gray-background_140725-141587.jpg">
                </div>
                </div>

                <h2>Honey</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Honey may work as a natural remedy for cracked heels. Honey has antimicrobial and antibacterial properties. Research shows that honey can help heal and cleanse wounds, and moisturize the skin. You can use honey as a foot scrub after a soak, or apply it as a foot mask overnight. 
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/premium-vector/honeycomb-sweet-pure-honey-3d-style_317810-1770.jpg">
                </div>
                </div>

                <h2>Coconut oil</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Coconut oil is often recommended for dry skin, eczema, and psoriasis. It can help your skin retain moisture. Using coconut oil after a foot soak could be a good option, too. Coconut oil’s anti-inflammatory and antimicrobial properties may your cracked heels if they’re prone to bleeding or infections.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/jug-coconut-oil-whit-coconut-put-dark-background_1150-28251.jpg">
                </div>
                </div>
<h1>Foot care routine</h1>
                <h2>Soak and exfoliate your feet</h2>
            <p>
                    Keep your feet in lukewarm, soapy water for up to 20 minutes.<br>
Use a loofah, foot scrubber, or pumice stone to remove any hard, thick skin.<br>
Gently pat your feet dry.<br>
Apply a heel balm or thick moisturizer to the affected area.<br>
Apply petroleum jelly over your feet to lock in moisture. Put on socks to avoid spreading any grease around.<br>
                </p>
                

                <h2>Clean Your Feet Daily</h2>
            <p>
                    Feet skin is most susceptible to bacterial and fungal infections since it is cloaked in socks and shoes for a major part of the day, or exposed to dust and grime. The skin between the toes is a perfect place for bacterial and fungal infections to flourish if it is not washed and cleansed properly. It is therefore very important to soap and wash your feet once every day to ensure the locked in dirt and sweat is cleansed off. 
                </p>
                

                <h2>Inspect Your Feet Regularly</h2>
           <p>
                    Check your feet for blisters, redness, small cuts, or cracked skin. If you can’t see the bottom of your feet, use a hand mirror with magnification. If you notice any problems, contact a doctor or physical therapist. Never ignore a problem with your feet. If you have diabetes, check your feet daily.
                </p>
            

                <h2>Cut Nails Carefully and Regularly</h2>
            <p>
                    Keep your nails trimmed, but not too short. Nails that are cut too short can become ingrown and cause soreness or infection. It is best to cut nails straight across and then carefully file the edges.
                </p>
            

                <h2>Moisturize Your Feet at Night</h2>
            <p>
                    Keep your skin soft and healthy by moisturizing every night. This can help prevent itching or cracking. Avoid putting lotion between your toes. 
                </p>
               

                <h2>Always Wear Well-Fitted Shoes</h2>
            <p>
                    Shoes that don't fit well may cause blisters that can lead to infection or other problems. Make sure you choose shoes that do not irritate your feet. Wear shoes that properly support your feet and ankles to ensure safety while walking. 
                </p>
                


                </div></body>
                </html>
