<html>
<style>
    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 75px;
    }
    h1{
        color:palevioletred;
        text-align: center;
    }
    h2{
        color:green;
    }
    .pqr{
    float: left;
    width: 50%;
}
    .xyz:after{
    content: "";
    display: table;
    clear: both;
}
img{
width: 400px;
height:300px;
display: block;
margin-left: auto;
margin-right: auto;
}
.abc {
background-color:antiquewhite;
border:15px solid sienna  ;
padding: 10px;
}
</style>
<body>
    <div class="abc">
        <h1>Remedies for frizzyhair</h1>
        <h2>Vitamin E and coconut oil </h2>
        <div class="xyz">
            <div class="pqr">
        <p>Vitamin E is rich in antioxidants and can fix hair damage, coconut oil can condition your hair.
            Oxidative stress and free radicals often cause cells in the scalp to break down, causing scalp damage and interruptions in hair growth. 
            Vitamin E for hair is heavy on antioxidant content that stops hair weakening, reduces stress and maintains hair health.
        </p>
        <p>How to apply this?</p>
        <ol>
            <li>Mix 20 drops of vitamin E oil with 3 to 5 tablespoons of coconut oil.</li>
            <li>You can use any coconut oil available in the market and for vitamin E, use capsules that can be punctured.</li> 
            <li>Apply this on your hair at least 40 minutes before washing. </li>
            <li>For better results, leave it on overnight and wash it off with a gentle shampoo.</li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://asset20.ckassets.com/thegoodlookbook/wp-content/uploads/sites/2/2019/01/Vitamin-E-Capsules-With-Coconut-Oil.p.jpg">
            </div></div>
        <h2>Apple cider vinegar</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Our hair's natural pH is on the acidic side, and an imbalance where it bends more towards the alkaline side can often cause frizziness.
             Apple cider vinegar, an alpha hydroxy acid, can restore that balance and help you get rid of that frizz. </p>
        <p>How to apply this?</p>
        <ol>
            <li>Mix a litre of warm water with 1/3 cup of apple cider vinegar.</li> 
            <li>Pour this over your hair and keep it on for a few minutes.</li>
            <li>Rinse and air dry your hair.</li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://post.healthline.com/wp-content/uploads/2020/10/apple-cider-vinegar-732x549-thumbnail-1-732x549.jpg">
            </div></div>
        
        <h2>Egg and Olive oil</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Eggs have a high protein content and have the ability to smoothen frizzy hair.
             Moreover, it has moisturising properties which will be beneficial to tame the frizz.</p>
        <p>How to apply this?</p>
        <ol>
            <li>Whisk one egg with olive oil (take according to the length of your hair), until the mixture is well combined.</li> 
            <li>Apply this to your hair.</li>
            <li>Ensure that the length of your hair is covered with this powerful hair mask.</li> 
            <li>Keep it on for 40 minutes to an hour before washing it off with a gentle shampoo.</li>
        </ol>   
            </div>
            <div class="pqr">
        <img src="https://2.imimg.com/data2/MC/NS/MY-4473037/egg-oil-250x250.jpg">
            </div></div>
        <h2>Aloe vera and almond oil </h2>
        <div class="xyz">
            <div class="pqr">
        <p>Aloe vera is known for its moisturising properties while almond oil is rich in vitamin E which helps fight off damage.</p>
        <p>How to apply this?</p>
        <ol>
            <li>Mix a quarter cup of aloe vera gel with a quarter cup of almond oil.</li> 
            <li>Apply this to the scalp and the length of your hair. </li>
            <li> Massage this mixture in your hair and leave it on for an hour.</li>
            <li>For best results, let it rest in your hair overnight.</li>
            <li></li>Wash off with a gentle shampoo.</li>
        </ol>
            </div>
            <div class="pqr">
                <img src ="https://healthyliving.natureloc.com/wp-content/uploads/2018/12/Aloe-vera-Gel-and-Almond-oil.jpg">
            </div></div>
        <h2>Coconut milk</h2>
            <div class="xyz">
                <div class="pqr">
            <p>Coconut milk can help repair hair damage and smoothen your hair due to its high protein content.
                 It helps nourish your hair and make them soft.</p>
            <p>How to apply this?</p>
            <ol>
                <li>Lightly heat the coconut milk.</li>
                <li>After cooling, apply it evenly to your scalp and hair. Let it penetrate deeply into the scalp.</li>
                <li>Cover your head with a warm cloth or towel.</li>
                <li>Wash your hair after half an hour.</li>
                <li>Repeat at least twice a week for best results.</li>
            </ol>
                </div>
                <div class="pqr">
                    <img src ="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2017%2F03%2F21%2FGettyImages-511528562-2000.jpg">
                </div></div>   
            </div>
            </body>
            </html>
