<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
       
       <h1>Weight gain</h1>
       <h3><u>Food for Weight gain</u></h3>
       <h2> Rice</h2>
       <div class="xyz">
           <div class="pqr">Rice is a convenient, low cost carb source to help you gain weight. Just 1 cup (158 grams) of cooked white rice provides 204 calories, 44 grams of carbs, and very little fat .

            Rice is also fairly calorie-dense, meaning you can easily obtain a high amount of carbs and calories from a single serving. This helps you eat more food, especially if you have a poor appetite or get full quickly.
            
            When you’re on the go or in a rush, 2-minute packs of microwavable rice can be easily added to other protein sources and premade meals.
          
            
           
       </div><div class="pqr">
            <img src="https://cf-images.us-east-1.prod.boltdns.net/v1/static/507936866/f936391e-9328-4690-887e-d327ffc0a433/29040a0e-90c3-4c63-9705-387fdb7384d8/1800x1012/match/image.jpg">
           </div>
       </div>
          <h2>Nuts and Nut Butter</h2>
          <div class="xyz">
           <div class="pqr">
            Nuts and nut butters are perfect choices if you’re looking to gain weight.

Just one small handful of raw almonds (1/4 cup) contains 170 calories, 6 grams of protein, 4 grams of fiber, and 15 grams of healthy fats .

Since nuts are very calorie-dense, just two handfuls per day with a meal or as a snack can quickly add hundreds of calories.

You can add nut butters to a variety of snacks or dishes, such as smoothies, yogurts, and crackers, to turn them into a high calorie snack in no time.
           
           
      
         
          </div> <img src="https://www.thestatesman.com/wp-content/uploads/2020/03/BeFunky-collage-4.jpg">
          </div>

       
           <h2>Red Meat</h2>
           <div class="xyz">
               <div class="pqr">
                Red meats are probably one of the best muscle-building foods available.

For example, 6 ounces (170 grams) of steak contains around 5 grams of leucine.

Leucine is the key amino acid your body needs to stimulate muscle protein synthesis and add new muscle tissue. It also contains 456 calories and nearly 49 grams of protein.

In addition to this, red meats are one of the best natural sources of dietary creatine, which is possibly the world’s best muscle-building supplement.

Consider choosing fattier cuts, which provide more calories than leaner meats, helping you take in extra calories and add weight.
                
               
           </div><div class="pqr">
           <img src="https://images.healthshots.com/healthshots/hi/uploads/2022/05/12131925/Red-meat-health-hazards.jpg">
           </div>
          </div>
          <h2>Milk</h2>
          <div class="xyz">
              <div class="pqr">
                Milk has been used as a weight gainer or muscle builder for decades .

It provides a good balance of proteins, carbs, and fats and is a good source of calcium, as well as other vitamins and minerals.

For those trying to add more muscle, milk is an excellent protein source that provides both casein and whey proteins. Research has even shown it can help you add muscle when combined with weightlifting .

Additionally, studies have found that milk, or whey and casein combined, can lead to greater mass gain than other protein sources.
              
              
              
          </div><div class="pqr">
          <img src="https://i0.wp.com/www.eastmojo.com/wp-content/uploads/2021/06/cover-milk-1.jpg">
          </div>
         </div>
         <h2>Potatoes and starches</h2>
           <div class="xyz">
               <div class="pqr">
                Potatoes and other starchy foods are a very easy and cost-effective way to add in extra calories.

                Try to choose one of these healthy sources of starchy carbs:
                <ul>
                   <li>oats</li> 
                    <li>corn</li>
                    <li> buckwheat</li>
                    <li>potatoes and sweet potatoes</li>
                    <li>squash</li>
                    <li>winter root vegetables</li>
                    <li>beans and legumes</li>
                </ul>


Not only do potatoes and other starches add carbs and calories to help you gain weight — they also increase your muscle glycogen stores.

Glycogen is the predominant fuel source for most sports and activities .

Many of these carb sources also provide important nutrients and fiber, as well as resistant starch, which can help nourish your gut bacteria .
                
               
               
           </div><div class="pqr">
           <img src="https://www.gutmicrobiotaforhealth.com/wp-content/uploads/2019/08/potatoes.png">
           </div>
          </div>
          <h2>Salmon and Oily fish</h2>
           <div class="xyz">
               <div class="pqr">
                Like red meat, salmon and oily fish are excellent sources of protein and important healthy fats.

Out of all the nutrients that salmon and oily fish provide, omega-3 fatty acids are among the most significant and well known.

They offer numerous benefits for your health and help fight diseases .

Just one 6-ounce (170-gram) fillet of deboned wild sockeye salmon provides around 250 calories and 12 grams of healthy fats. The same serving packs 37 grams of high quality protein, helping you build muscle or gain weight.

You can prepare salmon in a variety of ways: steamed, sautéed, smoked, grilled, baked, or poached. You can also try smoked salmon or even eat raw salmon in sushi and sashimi.
                
               
               
           </div><div class="pqr">
           <img src="https://scx2.b-cdn.net/gfx/news/2021/oilyfishcons.jpg">
           </div>
          </div>
          <h2>Protien suppliments</h2>
           <div class="xyz">
               <div class="pqr">
                Taking protein supplements is a common strategy for athletes and bodybuilders who want to gain weight. There are many types available, including whey, soy, egg, and pea protein.

Whey protein supplements and mass gainers (supplements that can help you gain muscle mass) can be very easy and cost-effective strategies to gain weight, especially when combined with strength training .

Some people think whey protein is unhealthy or unnatural, but this isn’t the case. Whey protein is made from dairy and has been shown to help improve health markers and reduce the risk of disease .

Protein supplements may be even more important if you’re also training since your daily protein requirements increase.
            
               
               
           </div><div class="pqr">
           <img src="https://images.healthshots.com/healthshots/en/uploads/2022/02/21154456/protein-consumption-1600x900.jpg">
           </div>
          </div>
          <h2>Dried fruits</h2>
           <div class="xyz">
               <div class="pqr">
                Dried fruit is a high calorie snack that also provides antioxidants and micronutrients .

                You can get many different types of dried fruit, and they all have a naturally high sugar content. This makes them great for gaining weight, especially since they’re convenient to eat and taste great.
                
                While many people think fruits lose most of their nutrients when dried, this isn’t the case. Dried fruits contain lots of fiber and most of their vitamins and minerals remain intact.
                
                Try combining some dried fruit with a protein source, such as cuts of meat, cheese, or a whey protein shake. They also mix well with nuts and full fat plain Greek yogurt, providing a blend of healthy fats, protein, and other key nutrients.
               
               
           </div><div class="pqr">
           <img src="https://hips.hearstapps.com/hmg-prod/images/top-view-of-variety-of-dried-fruits-royalty-free-image-151531351-1533134365.jpg">
           </div>
          </div>
          <h2>Dark chocolates</h2>
          <div class="xyz">
              <div class="pqr">
                High quality dark chocolate provides a ton of antioxidants and health benefits.

                Dark chocolate with at least 70 percent cacao (the seed from which chocolate is made) is said to help regulate stress hormones and blood sugar levels.
                
                It may also help reduce the risk of heart disease, some cancers, inflammation, stress, and type 2 diabetes.
                
                Like other high fat foods, dark chocolate has a very high calorie density, meaning it’s very easy to get many calories from it.
                
                Each 100-gram (3.5-ounce) bar with 60–75 percent cacao solids has around 600 calories and is packed with micronutrients and health-promoting compounds, including fiber, magnesium, and antioxidants.
              
              
          </div><div class="pqr">
          <img src="https://www.thestatesman.com/wp-content/uploads/2022/02/Benefits-of-Dark-Chocolate-Photo-istock-1.jpg">
          </div>
         </div>
         <h2>Cheese</h2>
         <div class="xyz">
             <div class="pqr">
                Since cheese is tasty, you can incorporate it into most dishes and easily add several hundred extra calories.

                Cheese is available in countless varieties, from creamed, to soft, to hard. Check out this list of healthy cheeses to find out which ones suit your palate best.
                
                Many cheeses are high in cholesterol and saturated fat. Like most high calorie foods, cheeses of all kinds are best consumed in moderation.
                
                One of the best-loved cheese dishes is mac and cheese. It goes down easily, even if you don’t have much of an appetite. Try this mac and cheese recipe for a healthy version of the perennial favorite.
             
         </div><div class="pqr">
         <img src="https://images-prod.healthline.com/hlcmsresource/images/AN_images/healthiest-cheese-1296x728-swiss.jpg">
         </div>
        </div>
          <h3>Other tips for Weight gain</h3>
          <ul>
           <li>Eat more frequently. When you're underweight, you may feel full faster. </li>
           <li>Choose nutrient-rich foods.</li>
           <li>Try smoothies and shakes.</li>
           <li>Watch when you drink.</li>
           <li>Make every bite count.</li>
           <li> Have an occasional treat. </li>
           <li>Exercise.</li>
          </ul>
          



          
       
       </div>
       </body>
       </html>
           
