<html>
<style>
    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 75px;
    }
    h1{
        color:midnightblue;
        text-align: center;
    }
    h2{
        color:darkmagenta;
    }
    .pqr{
    float: left;
    width: 50%;
}
    .xyz:after{
    content: "";
    display: table;
    clear: both;
}
img{
width: 400px;
height:300px;
display: block;
margin-left: auto;
margin-right: auto;
}
.abc {
background-color:lavenderblush;
border:15px solid darkred;
padding: 10px;
}
</style>
<body>
    <div class="abc">
        <h1>Remedies for premature hair greying</h1>
        <h2> Black Sesame Seeds:</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Sesame seeds, especially the black sesame, are known to blacken the hair. Hence, they can be applied to white hair.
            Eating some black sesame seeds twice a week may help to slow down or even reverse the hair greying process.
            Black sesame seeds can help combat damage to cells in your body which causes gray hair, hair loss</p>
        <p>How to apply this?</p>
        <ol>
            <li>Mix half a cup of sesame seeds with 4 tbsp of yoghurt and 1 tbsp of honey.</li>
            <li>Apply to hair and leave for 30 minutes.</li>
            <li>Rinse and use your favourite conditioner.</li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://www.lovedbycurls.com/wp-content/uploads/2021/07/Black-Sesame-Seeds-For-Gray-Hair-2.jpg">
            </div></div>
        <h2> Amla: </h2>
        <div class="xyz">
            <div class="pqr">
        <p>Amla enriches hair pigmentation.
             Dried fruit of amla and coconut oil can be boiled together till it gets charred and used to prevent hair greying.
             Drink amla juice regularly to avoid premature greying of hair.</p>
        <p>How to apply this?</p>
        <ol>
            <li>To make the hair pack, take a bunch of curry leaves and grind them with 2 tablespoons of amla powder and 2 tablespoons of brahmi powder.</li>
            <li>Make a smooth paste and apply this paste as a hair mask on the hair, making sure to cover the roots.</li> 
            <li>Leave it on for an hour and rinse with a mild herbal shampoo.</li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://images.healthshots.com/healthshots/en/uploads/2021/12/07131007/amla-627x354.jpg">
            </div></div>
        
        <h2>Curry Leaves:</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Using curry leaves is extremely beneficial in preventing greying of hair. </p>
        <p>How to apply this?</p>
        <ol>
            <li>Grab a bunch of curry leaves from your garden and rinse them well in water.</li>
            <li>Crush the dried curry leaves until into small pieces to make a fine powder.</li>
            <li>Boil some coconut oil and add the powdered curry leaves to it.</li>
            <li>Boil the fuse till powder turn black and allow it to cool at room temperature.</li>
            <li>To get best results apply the oil at least twice a week and see your hair shaft become intensely dark and shiny. </li>
        </ol>   
            </div>
            <div class="pqr">
        <img src="https://images.indianexpress.com/2020/07/GettyImages-curry-leaves-hair-mask_759.jpg">
            </div></div>
        <h2>  Hibiscus Flower: </h2>
        <div class="xyz">
            <div class="pqr">
        <p>Hibiscus Is extremely beneficial for your hair. 
            The flower along with with its leaves is used in so many ways to fight hair fall.
             It induces hair growth and also gives satisfactory results in curing bald patches. 
            Hibiscus also prevents premature graying of the hair. </p>
        <p>How to apply this?</p>
        <ol>
            <li>Take fresh aloe vera leaf and extract a cup of gel from them. </li>
            <li>Add the Hibiscus flowers and the Aloe Vera Gel into a blender  and make a smooth paste out of it.</li>
            <li>Take out in a bowl, add the egg to it and mix properly.</li>
            <li>Squeeze in half a lemon to curb the smell of the egg.</li>
            <li>Detangle your hair and apply the hair mask properly on your scalp and whatever is left you can apply it on your hair length.</li>
            <li>Leave it for around an hour.Rinse off with any mild herbal shampoo.</li>
        </ol>
            </div>
            <div class="pqr">
                <img src ="https://floweraura-blog-img.s3.ap-south-1.amazonaws.com/Flower-Gift/natural-cleanser.jpg">
            </div></div>
        <h2>  Bhringraj: </h2>
            <div class="xyz">
                <div class="pqr">
            <p>It prevents and deals with premature hair greying.
                Bhringraj powder for grey hair will do the trick. </p>
            <p>How to apply this?</p>
            <ol>
                <li>Take 1 tablespoon of Bhringraj powder and 2 tablespoons of coconut oil.</li>
                <li>Mix them over low heat.</li>
                <li>Once heated, massage the mixture over your scalp and hair.</li>
                <li>Wash it off with a mild shampoo.</li>
            </ol>
                </div>
                <div class="pqr">
                    <img src ="https://ik.bebodywise.com/mosaic-wellness/image/upload/f_auto,w_1000,c_limit/v1622644723/BW%20BLOG/bhringraj-powder-for-hair.png">
                </div></div>   
            </div>
            </body>
            </html>
