<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    height:300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color:lemonchiffon;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        <h1>Remedies for Hair Fall</h1>
        <h2>Egg Mask</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Rich in protien, sulphur, zinc, and phosphorus, eggs make a fantastic remedy to treat persistent hair fall.
            Eggs strengthen hair strands, promotes hair growth, and prevents split ends.</p>
        <p>To prepare the egg mask:</p>
        <ol>
            <li>Separate one egg white in a bowl and add a teaspoon each of olive oil and honey.</li>
            <li>Beat to make a paste and apply it all over from root to tips.</li>
            <li>After 20 minutes, rinse with a mild shampoo.</li>
            <li>Apply this mask once a week.</li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://www.oliveoil.com/content/images/2021/08/Olive-oil-egg-hair-mask.jpeg">
            </div></div>
        <h2>Aloe Vera</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Aloe Vera is an effective home remedy for hair loss and to boost hair growth. It is also effective in reducing problems 
            of the scalp like itching and flaking.</p>
        <p>To prepare the aloe vera mask:</p>
        <ol>
            <li>Take the stalk of Aloe Vera and extract the pulp.</li>
            <li>Apply it to your hair and scalp and leave it for about 45 minutes.</li>
            <li>Rinse with normal water. You can do this three to four times a week to see better results.</li>
        </ol>
    </div>
    <div class="pqr">
        <img src="https://www.kamaayurveda.com/wp-content/uploads/2021/06/KAMA_March2020_BlogInternalImage_Alovera_How-To-Use-Aloe-Vera-for-A-Glowing-Face-and-Clear-Skin_600x600.jpg">
        </div></div>
        <h2>Fenugreek Seeds</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Fenugreek seeds are another natural home remedy that works really well to curb hair fall. These seeds are rich in natural hormones that stimulate your hair follicles and promote quick hair growth.
            Fenugreek seeds are also a rich source of protein, which works like the building blocks to strengthen the entire hair shaft and lead to healthy hair by reducing hair fall. </p>
        <p>How to use fenugreek seeds?</p>
        <ol>
            <li>Soak the fenugreek seeds in water overnight and grind them to make a paste.</li>
            <li> Apply the paste on the hair and cover it with a shower cap for half an hour. Wash it off.</li>
            <li>This needs to be repeated once or twice a week for the results to appear.</li>
        </ol>
            </div>
        <div class="pqr">
            <img src="https://static-bebeautiful-in.unileverservices.com/seo-hair-fall_4.png">
            </div></div>
        <h2>Onion juice</h2>
            <div class="xyz">
                <div class="pqr">
            <p>The antibacterial properties of onions make them an excellent ingredient to fight scalp infections and improve blood circulation thereby preventing hair loss.
                If you can get through the smell, onion juice is your answer to stopping hair fall.
            </p>
            <p>How to use onion juice?</p>
            <ol>
                <li>Grind one onion and extract the juice, apply it to your scalp using a cotton ball.</li>
                <li>Let it stay for 20-30 minutes before washing with lukewarm water and shampoo.</li>
                <li> Use twice a week for the best results.</li>
            </ol>
                </div>
            <div class="pqr">
                <img src="https://static-bebeautiful-in.unileverservices.com/how-to-stop-hair-fall_4.jpg">
                </div></div>
        <h2>Curry leaves</h2>
            <div class="xyz">
                <div class="pqr">
            <p>Another popular natural remedy that promotes hair growth is curry leaves. According to research, curry leaves are rich in beta-carotene and protein.
                 It promotes hair growth and reduces hair fall.
                 Curry leaves also contain high amounts of amino acids that strengthen the hair fiber.
            </p>
            <p>To make a hair mask of curry leaves, mix curd with curry leaves:</p>
            <ol>
                <li>First, take a handful of curry leaves and blend the curry leaves into a thick paste.</li>
                <li> Then add one tablespoon of the curry leaves paste to the whisked curd. Mix these two ingredients well until they form a paste of smooth consistency. </li>
                <li>Apply the mask and massage the scalp. Then, leave it on for 30 to 40 minutes and wash it off with shampoo.</li>
                </ol>
                </div>
                <div class="pqr">
                <img src="https://images.healthshots.com/healthshots/en/uploads/2021/09/21161302/curry-leaves-627x354.jpg">
                </div></div>
        <h2>Oiling</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Oiling improves blood circulation and nourishes the roots. Make sure to massage your tresses with coconut oil once a week with oil that suits your scalp. 
            Cover it with a shower cap and wash it off with a mild shampoo after two hours.</p>
        <p>Essential oils that helps prevent hairfall:</p>
        <ol>
            <li> Lavender Essential Oil</li>
            <li> Peppermint Essential Oil</li>
            <li> Rosemary Essential Oil</li>
        </ol>
        </div>
        <div class="pqr">
        <img src="https://nigerianfinder.com/wp-content/uploads/2019/04/How-to-Make-Coconut-Oil.jpg">
        </div></div>
        </div>

    </body>
</html>
