<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>

        <div class="abc">
         <h1>Hair care routine</h1>

         <h2>Oil Massage</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Oiling your hair once a week is essential to provide it with nutrients and hydration. You can even use essential oils to address your specific hair concerns.<br>
                    How to massage:
                    <ul>
                        <li>Mix an essential oil with a carrier oil of your choice.</li>
                        <li>Warm it and apply to your scalp.</li>
                        <li>Gently massage the oil into your scalp for 5 minutes and leave on for about an hour.</li>
                        <li>Rinse off using shampoo and lukewarm water.</li>
                    </ul> 
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/natural-coconut-oil_155003-5265.jpg">
                </div>
                </div>

                <h2>Wet your hair thoroughly</h2>
            <p>
                    Don’t jump straight into applying your shampoo. Instead, let your hair get fully wet.

                    Depending on how thick or dense your hair is, this might take longer than you think. So let the water flow over your head for at least 1 minute, then run your fingers through your hair to make sure all of it (even the ends) are fully wet.
                    
                    Letting your hair get fully wet with lukewarm water helps open the cuticles, making it easier for your hair to absorb your conditioner later. 
                </p>
                

                <h2>Apply shampoo and massage on the scalp</h2>
            <p>
                    Remember: This shampoo should be the right kind for your hair.

                    You also need to make sure you’re applying the correct amount of shampoo for your hair length — not too much (you might not get it all out) and not too little (your hair might not get a thorough cleanse).
                    
                    If you have short hair, aim for a dollop of shampoo that’s about the size of a nickel. For shoulder-length hair, think quarter-sized. If you have long hair, you’ll want to squeeze enough shampoo to roughly cover your palm.
                    
                    Before applying the shampoo to your hair, mix it with a little water in the palm of your hand. This way you’ll reduce the direct impact of the shampoo on your scalp and reduce product consumption.
                    
                    Then, make sure to apply the shampoo to your entire scalp and crown. You don’t need much (if any) shampoo on the tips of your hair.
                    
                    The truth is that you have to focus on shampooing your scalp, rather than the ends of your hair. Apply shampoo only onto the scalp, and let it clean the rest of the hair when you rinse it out.
                    Take the time to massage your scalp with gentle pressure, sans nails, for about 3 minutes. Move your fingers and palms gently to avoid tangling and damaging the follicles.
                </p>
                

                <h2>Rinse thoroughly and apply conditioner</h2>
            <p>
                    Spend 1 to 2 minutes rinsing your hair to be sure no soap remains. One of the biggest mistakes people make is accidentally leaving shampoo in their hair, which leads to scalp buildup.
                    You don’t need to put conditioner on your scalp — it might make things oily. Instead, apply the conditioner from the mid-shaft down to the ends of your hair.

Then, let it sit the recommended time. Some conditioners need to sit for 2 to 3 minutes, while others require 5 to 7 minutes. Letting it sit this amount of time will soften and smooth your hair, making it shinier once it’s dry.

Don’t leave your conditioner in for too long, though, or it might be hard to get out and leave residue behind.

While you let the conditioner soak in, you can use a wide-tooth comb to detangle your hair if you want.
                </p>
                

                <h2>Rinse again and dry</h2>
            <p>
                    Just like with shampoo, make sure you get it all out.
Once you get out of the shower, towel dry your hair. Be sure to squeeze or pat your hair dry instead of rubbing it.

If you can, use a microfiber towel or an old T-shirt to dry your hair. The rougher the material fiber, the more damage it may cause to your hair.

If you want to, you can also add in a detangler or hair protectant after towel drying.
                </p>
                

                <h2>Trim Your Hair</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    No, trimming your hair does not make it grow faster! What it can do for you though, is to make your hair appear healthier, softer and free of split ends. Trimming once in every 2-3 months is recommended.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/premium-vector/vector-illustration-barber-shop-symbols-scissors-comb-white-background_261149-18.jpg">
                </div>
                </div>

                <h2>Wash Your Hair With Cool Or Lukewarm Water</h2>
            <p>
                    Hot water tends to strip off essential oils and moisture from the scalp. Use cool or lukewarm water to rinse your hair.
                </p>
                

                <h2>Avoid Tying Your Hair Up Too Often</h2>
            <p>
                    Tying your hair up can cause breakage and even result in hair loss eventually. This happens because the roots are constantly being pulled that eventually causes them to break.
                </p>
                



                </div></body>
                </html>
