<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>

        <div class="abc">
         <h1>Hand care routine</h1>

            <h2>Moisturizing Your Hands</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Apply hand cream regularly. To ensure that your hands stay soft, you should use a hand cream several times a day. Look for a formula that contains emollient ingredients, such as glycerin, shea butter, and natural oils. Massage the cream in after you wash your hands in the morning and before you go to bed at night. If your hands start to feel dry at any point during the day, reapply then as well. 
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/female-hands-skin-care-concept-manicure_144627-42094.jpg">
                </div>
                </div>


                <h2>Exfoliate your hands weekly</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Use a hand scrub once a week to buff away the dry, rough skin and keep your hands soft and healthy. Wet your hands with lukewarm water, and massage a small amount of the scrub over both of your hands, working in circular motions. Rinse it off with warm water, and apply a hand cream.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/young-woman-applying-natural-lemon-scrub-hands-against-white-surface_1150-41913.jpg">
                </div>
                </div>

                <h2>Use sunscreen on your hands</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Just like the rest of your skin, your hands are vulnerable to damage from the sun, including dark spots that can make them look older. To protect your hands from the sun, apply a broad-spectrum sunscreen with a SPF of 30 or higher everyday.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/premium-photo/sunscreen-cream-form-sun-blue-background-with-white-tube_188237-592.jpg">
                </div>
                </div>

                <h2>Wash with a moisturizing hand soap</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    It’s important to keep your hands clean, but using an antibacterial hand soap can dry out your skin. Instead, wash your hands with a moisturizing soap that contains hydrating ingredients, such as shea butter, olive oil, or aloe vera, to avoid stripping the natural oils from your skin.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/premium-photo/person-washing-hands_23-2148577834.jpg">
                </div>
                </div>

                <h2>Aloe vera</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Aloe vera is a common ingredient in many skin products due to its antibiotic and anti-inflammatory properties. Aloe vera is available over the counter, and it can be applied to the skin as a natural, safe moisturizer. 
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/premium-photo/aloe-vera-slices-white-background_252965-294.jpg">
                </div>
                </div>

                <h1>Nail care</h1>
                <h2>Use vitamin E oil to moisturize your nails</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    While you should rub your hand cream over your nails to keep them moisturized, it’s also important to target them directly with more intensive treatments. To keep your cuticles healthy, apply a vitamin E oil to the skin around your nails each night before you go to bed. That will help prevent the skin from becoming cracked and painful. 
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/premium-vector/vitamin-e-realictic-3d-bubble_176516-966.jpg">
                </div>
                </div>
                <h2>Clean under your nails with a nail brush</h2>
            <p>
                    Even if you wash your hands regularly, there may be dirt and grime under your fingernails that doesn’t rinse away. While you’re washing your hands, use a good quality nail brush to gently scrub beneath your nails and remove any dirt that may be stuck there.
                </p>
                

                <h2>Keep your nails trim and well-shaped</h2>
            <p>
                    You'll have an easier time keeping your nails clean if you groom them properly. Use nail clippers to keep them at a length that you like, and file them with a crystal nail file or gentle emery board into a neat shape, such as a square or oval. 
                </p>
                

                </div></body>
                </html>
