<html>
<style>
    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 75px;
    }
    h1{
        color:cadetblue;
        text-align: center;
    }
    h2{
        color:dodgerblue;
    }
    .pqr{
    float: left;
    width: 50%;
}
    .xyz:after{
    content: "";
    display: table;
    clear: both;
}
img{
width: 400px;
height:300px;
display: block;
margin-left: auto;
margin-right: auto;
}
.abc {
background-color:oldlace;
border: 15px solid plum;
padding: 10px;
}
</style>
<body>
    <div class="abc">
        <h1>
            Health tips
        </h1>
        <h2>Daily Routine for Good Health and More Energy</h2>
        <ol>
            <li>Start the Day With a Glass of Lemon Water</li>
            <div class="xyz">
                <div class="pqr">
            <p>
                Simply add the juice of half a lemon to your glass and drink it to enjoy a refreshing start to the day.
                Lemon juice reduces your body's acidity levels, which, in turn, protects you against inflammatory diseases, such as fungal infections and osteoporosis.
            </p>
        </div>
        <div class="pqr">
        <img src="https://static-bebeautiful-in.unileverservices.com/Lemon%20Water_MobileHomeFeature.jpg">
        </div></div>
            <li>Exercise in the Morning</li>
            <div class="xyz">
                <div class="pqr">
            <p>
                Working out early in the morning improves your energy levels and circulation, and encourages good lymphatic function. 
                Just 20 or 30 minutes every day can make a difference!
                 Mix cardio and weights throughout the week for overall toning and general health.
            </p>
        </div>
        <div class="pqr">
            <img src="https://classroomclipart.com/images/gallery/Clipart/Fitness_and_Exercise/running-on-treadmill-clipart-598.jpg">
        </div></div>
            <li>Eat a Good Breakfast</li>
            <div class="xyz">
                <div class="pqr">
            <p>When you eat breakfast, fuel yourself with a healthy mix of protein, slow-release carbohydrates, vitamins, and minerals. 
                Sensible options include yogurt with nuts and berries, a vegetable omelet, and low-sugar granola bars with a piece of fruit.
        </p>
    </div>
    <div class="pqr">
        <img src="https://images.immediate.co.uk/production/volatile/sites/30/2013/05/Healthy-porridge-bowl-b1f9205.jpg">
    </div></div>
        <li>Stay Hydrated</li>
        <div class="xyz">
            <div class="pqr">
        <p>Did you know that becoming even slightly dehydrated can lead to lowered mood and decreased concentration? 
            Keep water or other low-sugar drinks on hand to sip throughout the day.
            Experts recommend drinking roughly 11 cups of water per day for the average woman and 16 for men. And not all of those cups have to come from plain water; 
            for example, some can come from water flavored with fruit or vegetables (lemons, berries, or orange or cucumber slices), or from coffee or tea.
        </p>
    </div>
    <div class="pqr">
        <img src="https://belvoir-university-health.s3.amazonaws.com/media/2020/12/07180756/dreamstime_xs_44066082.jpg">
    </div></div>
        <li>
            Get a Healthy Lunch
        </li>
        <div class="xyz">
            <div class="pqr">
        <p>Even the busiest of us can grab a healthy lunch as part of a daily routine.
             For lunch ideas, you can make in advance and take with you to work.
             Avoid too much fat at lunchtime, as it promotes afternoon lethargy, which isn't going to help you get through a busy day!
        </p>
    </div>
    <div class="pqr">
        <img src="https://cdn.shopify.com/s/files/1/0506/2600/3116/articles/01-The-Benefits-of-Meal-Prepping_600x600.png">
    </div></div>
        <li>Do Some Mid-Afternoon Stretches</li>
        <div class="xyz">
            <div class="pqr">
        <p>Most of us have a mid-afternoon “slump” somewhere between 2 and 4 PM, but you can keep yourself going through the day by choosing a healthy lunch and doing some light stretches or a bit of exercise in the afternoon.
        </p>
    </div>
    <div class="pqr">
        <img src="https://healthylearn.com/hn/images/stretchingexerciseatdesk379x341.jpg">
    </div></div>
        <li>Dinner</li>
        <div class="xyz">
            <div class="pqr">
        <p>With many meal planning apps out there, getting a quick but healthy dinner on the table has never been easier! Be realistic, and choose something that doesn't require much time or effort to throw together. Otherwise, you may resort to takeout.
           Green vegetables are always a great choice, as they are packed with antioxidants and have an alkalizing effect. Choose plant-based proteins such as tofu or seitan or, if you prefer animal protein, pick fish and lamb rather than beef or chicken to minimize acidity levels in the body.
             Avoid caffeine in the late afternoon and evening because it will prevent you from sleeping soundly at night.</p>
            </div>
            <div class="pqr">
                <img src="https://i.pinimg.com/736x/15/93/5d/15935d5e5e1c28c3d7bea2bc0fcd483f.jpg">
            </div></div>
             <li>
                Take Time to Relax
             </li>
             <div class="xyz">
                <div class="pqr">
             <p>It's normal to feel stressed from time to time, but high-stress levels leave you vulnerable to a number of health conditions and problems, including depression and elevated blood pressure.
             Find a healthy activity that relaxes you, and then set aside sometime every day to do it as part of your daily routine. This could be journaling, reading an inspiring book, spending time with a pet, meditating, or simply taking a few minutes to remind yourself of everything that is going well in your life.
            </p>
        </div>
        <div class="pqr">
            <img src="https://blogimage.vantagefit.io/vfitimages/2022/04/national_relaxation_day.jpg">
        </div></div>
            <li>Go to Sleep at a Reasonable Hour</li>
            <div class="xyz">
                <div class="pqr">
            <p>
                It sounds obvious, but if you want to feel your best, you must get enough sleep. Most experts recommend that we get 6 to 10 hours of sleep per night.
                Turn off your phone and computer at least an hour before bed, and avoid vigorous exercise in the late evening. These measures will help you wind down when it's time for sleep.
            </p>
        </div>
        <div class="pqr">
            <img src="https://st2.depositphotos.com/1967477/9081/v/600/depositphotos_90815826-stock-illustration-cartoon-little-boy-sleeping-in.jpg">
        </div></div>
        </ol>
    </div>
</body>
</html>
