<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
       
       <h1>Healthy food for Heart</h1>
       <h2>Leafy green vegetables</h2>
       <div class="xyz">
           <div class="pqr">
            Leafy green vegetables like spinach, kale, and collard greens are well known for their wealth of vitamins, minerals, and antioxidants.

In particular, they’re a great source of vitamin K, which helps protect your arteries and promote proper blood clotting (2Trusted Source).

They’re also high in dietary nitrates, which have been shown to reduce blood pressure, decrease arterial stiffness, and improve the function of cells lining the blood vessels 
            
       </div><div class="pqr">
            <img src="https://www.verywellfit.com/thmb/HqSNlWjBjy4H20on_tB0n_ULTwc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-962568356-38ba213f25ba43159500d909c4d5c926.jpg">
           </div>
       </div>
          <h2>Whole grains</h2>
          <div class="xyz">
           <div class="pqr">
            
            Whole grains include all three nutrient-rich parts of the grain:
           
           <li>germ</li>
           <li>endosperm</li>
          <li>bran</li>

          Common types of whole grains include:
          
             <li>whole wheat</li>
            <li> brown rice</li>
             <li>oats</li>
             <li>rye</li>
             <li>barley</li>
             <li>buckwheat</li>

         
          </div> <img src="https://foodandnutrition.org/wp-content/uploads/GettyImages-1054766150-780x520.jpg">
          </div>
       
           <h2>Fatty fish and fish oil</h2>
           <div class="xyz">
               <div class="pqr">
                Fatty fish like salmon, mackerel, sardines, and tuna are loaded with omega-3 fatty acids, which have been studied extensively for their heart-health benefits.

Omega-3 fatty acids from fatty fish may have a protective role in the risk of developing heart disease and slightly reduce the risk of CVD events and arrhythmias (18Trusted Source).

Another study showed that eating fish over the long term was linked to lower levels of total cholesterol, blood triglycerides, fasting blood sugar, and systolic blood pressure.
           </div><div class="pqr">
           <img src="https://www.healthifyme.com/blog/wp-content/uploads/2019/12/fish-oil-cover-1.jpg">
           </div>
          </div>
           <h2>Walnuts  and Almonds</h2>
           <div class="xyz">
               <div class="pqr">
          
                Nuts are also rich in omega-3 fatty acids. Nuts also contain a high level of vitamin E, which can protect the eye from age-related damage.

                Nuts are available for purchase in most grocery stores and online. Nuts and legumes that are good for eye health include:
                
                <li>walnuts</li>
                <li>Brazil nuts</li>
               <li>cashews</li> 
                <li>peanuts</li>
                <li>lentils</li>
       </div><div class="pqr">
        <img src="https://www.preparedfoods.com/ext/resources/ISSUES/2018/November/GettyImages-971898468.jpg">
       </div></div>
           <h2>Seeds</h2>
           <div class="xyz">
               <div class="pqr">
                Like nuts and legumes, seeds are high in omega-3s and are a rich source of vitamin E.

                Seeds are available for purchase in most grocery stores and online. Seeds high in omega-3 include:
                
                <li>chia seeds</li>
                <li>flax seeds</li>
                <li>hemp seeds</li>
       </div><div class="pqr"> <img src="https://static.toiimg.com/photo/msid-84893090/84893090.jpg">
       </div>
           <h2>Dark chocolate</h2>
           <div class="xyz">
               <div class="pqr">
           
                Dark chocolate is rich in antioxidants like flavonoids, which can help boost heart health.

Interestingly, several studies have associated eating chocolate with a lower risk of heart disease.

Consuming chocolate in moderation (less than 6 servings a week) may decrease your risk of coronary heart disease, stroke, and diabetes tioxidant vitamin E.
           
       </div>
       <div class="pqr">
        <img src="https://post.healthline.com/wp-content/uploads/2021/02/dark-chocolate-bar-732x549-thumbnail.jpg">
       </div> 
       </div>
           
           
           <h2>Water</h2>
           <div class="xyz">
               <div class="pqr">
                It may come as no surprise that a fluid essential to life is also vital to heart health.

                Drinking plenty of water can prevent dehydration and is good for heart.<br>
                Serum sodium levels may help identify adults with a greater chance of experiencing heart disease. Staying well-hydrated may be associated with a reduced risk for developing heart failure, according to researchers at the National Institutes of Health.
                
           </div>
           <div class="pqr">
           <img src="https://shabiba.eu-central-1.linodeobjects.com/2020/02/10/1103010.jpg">
       </div></div>
       <h2><u>Healthy Heart tips</u></h2>
       <img src="https://www.careinsurance.com/upload_master/media/posts/September2019/7YkQN5bb2bFUfmjogk4x.jpg">
       <li>Get active each week</li>
<li> Enjoy healthy fats, avoid unhealthy ones</li>
<li>Don’t smoke and avoid secondhand smoke</li>
<li>Shed excess weight</li>
<li>Avoid overeating through portion control</li>
<li> Eat cholesterol-friendly foods</li>
<li>Harmonize your heart health with music</li>
<li>Take care of your teeth</li>
<li>Aromatherapy can stifle stress and help your heart</li>
    </div>
      
       
       </div>
       </body>
       </html>
