<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
       
       <h1>Food for Height growth</h1>
       <h2> Beans</h2>
       <div class="xyz">
           <div class="pqr">
            Beans are incredibly nutritious and an especially good source of protein .

Protein has been shown to increase levels of insulin-like growth factor 1, an important hormone that regulates growth in children .

Beans are also high in iron and B vitamins, which can help protect against anemia, a condition characterized by a lack of healthy red blood cells in the body .

Not only is iron required for tissue growth, but iron deficiency anemia may also contribute to delayed growth in children .

Furthermore, beans are rich in several other nutrients, such as fiber, copper, magnesium, manganese, and zinc .
            
            
           
       </div><div class="pqr">
            <img src="https://thefamilydinnerproject.org/wp-content/uploads/2013/09/Green-bean-lime.jpg">
           </div>
       </div>
          <h2>Chicken</h2>
          <div class="xyz">
           <div class="pqr">
            Rich in protein along with a range of other essential nutrients, chicken can be an excellent addition to a healthy diet.

It’s particularly high in vitamin B12, a water-soluble vitamin that’s crucial when it comes to growing taller and maintaining your height .

It’s also loaded with taurine, an amino acid that regulates bone formation and growth .

What’s more, chicken is loaded with protein, containing around 20 grams in a 3-ounce (85-gram) serving .

Although the precise nutritional profile can vary a bit based on the cut and cooking method, chicken is also a good source of niacin, selenium, phosphorus, and vitamin B6 .
           
      
         
          </div> <img src="https://media.self.com/photos/62cd9c3069671d734f919d0f/16:9/w_4010,h_2256,c_limit/should-you-wash-chicken.jpg">
          </div>
       
           <h2>Almonds</h2>
           <div class="xyz">
               <div class="pqr">
                Almonds are jam-packed with many of the vitamins and minerals necessary for growing taller.

Besides bringing a host of healthy fats to the table, they’re high in fiber, manganese, and magnesium .

Plus, almonds are rich in vitamin E, a fat-soluble vitamin that doubles as an antioxidant.

A deficiency in this important vitamin can come with serious side effects, including stunted growth in children .

Almonds may also help foster bone health. In one small study in 14 people, consuming almonds was found to inhibit the formation of osteoclasts, which are a type of cell that breaks down bone tissue.
               
               
           </div><div class="pqr">
           <img src="https://images.healthshots.com/healthshots/en/uploads/2021/09/06113603/soaked-almonds-1600x900.jpg">
           </div>
          </div>
           <h2>Leafy green</h2>
           <div class="xyz">
               <div class="pqr">
                Leafy greens, such as spinach, kale, arugula, and cabbage, are superstars when it comes to nutrition.

While the exact amount of nutrients fluctuates between different types, leafy greens generally offer a concentrated amount of vitamin C, calcium, iron, magnesium, and potassium .

They’re also rich in vitamin K, a nutrient that can increase bone density to support enhanced growth and help maintain your height .

One study in 103 women even showed that regular intake of greens was associated with a significantly lower risk of decreased bone mass.

SUMMARY
          
               
              
       </div><div class="pqr">
        <img src="https://www.crossfit.com/wp-content/uploads/2021/07/14105156/GreenVegetables-istock-med-768x432.jpg">
       </div></div>
           <h2>Milk</h2>
           <div class="xyz">
               <div class="pqr">
                Milk is often considered a key component of a healthy, well-rounded diet.

It can also help support growth by supplying several nutrients that are important for bone health, including calcium, phosphorus, and magnesium  .

Additionally, milk is rich in protein, with nearly 8 grams of the nutrient in a single 1-cup (244-ml) serving  .

Not only that, but research shows that cow’s milk can stimulate increased growth in children and may help support weight gain and muscle building  .

However, milk should be avoided if there’s an allergy or intolerance.
               
       </div><div class="pqr"> <img src="https://ychef.files.bbci.co.uk/1376x774/p08pnl24.jpg">
       </div>
           <h2>Eggs</h2>
           <div class="xyz">
               <div class="pqr">
                Eggs are truly a powerhouse of nutrition.

They’re especially rich in protein, with 6 grams packed into a single large egg .

Plus, they contain a wealth of other vitamins and minerals necessary for growth, including vitamin D, which can increase calcium absorption to help maintain skeletal health.

One small study found that giving children with low vitamin D levels a vitamin D supplement resulted in increased growth over a 6-month period.

What’s more, one study in 874 children observed that regularly eating eggs was associated with increased monthly height gains .
           
                
           
       </div>
       <div class="pqr">
        <img src="https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2018/03/How-to-Boil-Eggs-main-1-2.jpg">
       </div> 
       </div>
           
           <h2>Sweet potatoes</h2>
           <div class="xyz">
               <div class="pqr">
                Besides being vibrant and versatile, sweet potatoes are incredibly healthy.

They’re especially rich in vitamin A, which can improve bone health and help you grow taller or maintain your height .

They also contain both soluble and insoluble fiber, which can promote digestive health and foster the growth of good gut bacteria .

Maintaining a healthy gut microbiome can also boost nutrient absorption to ensure that you’re getting the vitamins and minerals you need for growth and development .

Plus, sweet potatoes are packed with other important nutrients, including vitamin C, manganese, vitamin B6, and potassium.
          
                
    
       </div>
       <div class="pqr">
           <img src="https://nutritionfacts.org/app/uploads/2022/06/Is-It-Better-to-Bake-Boil-or-Steam-Sweet-Potatoes.jpg">
       </div></div>
           <h2>Yogurt</h2>
           <div class="xyz">
               <div class="pqr">
                Yogurt is a great source of several key nutrients that are important for growth, including protein.

In fact, just 7 ounces (200 grams) of Greek yogurt pack in nearly 20 grams of protein .

Certain types also contain probiotics, which are a type of beneficial bacteria that can help support gut health.

In addition to improving immune function and decreasing inflammation, some research shows that probiotics can help increase growth in children.

Yogurt is likewise an excellent source of several nutrients involved in bone metabolism, including calcium, magnesium, phosphorus, and potassium.
                
           </div>
           <div class="pqr">
           <img src="https://cdn-prod.medicalnewstoday.com/content/images/articles/323/323169/greek-yoghurt-in-bowl.jpg">
       </div></div>
       
    </div>
       <h3>Other tips for Height growth</h3>
       <ul>
        <li>Eat a balanced diet. During your growing years, it's crucial that you get all of the nutrients your body needs.</li>
        <li>Use supplements with caution.</li>
        <li>Get the right amount of sleep.</li>
        <li> Practice good posture.</li>
        <li>Use yoga to maximize your height.</li>
        <li>Stay active.</li>
       
       </ul>
       
       </div>
       </body>
       </html>
          
