<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color:blue;
            text-align: center;
        }
        h2{
            color:darkgreen;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    height:300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color:lavender;
  border: 15px solid rgb(252, 130, 0);
  padding: 10px;
}
    </style>
    <body>
        <div class ="abc">
        <h1>Foods for healthier hair.</h1>
        <p>Ensuring a healthy and varied diet—which includes sources of antioxidants, iron, vitamin D, and biotin—can promote hair health.
        Nutritional deficiencies can cause hair loss, but eating the right foods can also lead to a fuller, healthier head of hair. 
        However, how fast it grows and how healthy it is depend on many factors including age, overall health, genetics, environmental exposure, medications, and diet.
        Although you can't change some factors like age and genetics, one factor you likely have more control over is your diet.
        </p>
        <h3>Let's look at the best types of food for healthy hair. </h3>
        <h2>Fatty Fish</h2>
        <p>Fatty fish are also a good source of protein, selenium, and B vitamins, all of which help to promote healthy hair.
            Some types of fish that have essential fatty acids, including omega-3s, and vitamin D are:</p>
        <ol>
            <li>Tuna</li>
            <li>Mackerel</li>
            <li>Salmon</li>
            <li>Herring </li>
        </ol>
        <h2> Eggs</h2>
        <p>Eggs are like nature's multivitamin because they contain a variety of vitamins, minerals, and nutrients. Some of these that are related to healthy hair include protein, biotin, selenium, and zinc. 
           Eggs are a great source of protein, which is important for preventing hair loss.</p>
        <h2>Leafy Greens</h2>
        <p>Dark green leafy vegetables are full of nutrients that prevent hair loss. Some good choices are: </p>
        <ol>
            <li>Kale</li>
            <li>Spinach</li>
            <li>Collards</li>
        </ol>
        <p>These contain vitamin A, iron, beta carotene, folate, and vitamin C.  
        One cup of cooked spinach contains about 6 milligrams of iron, a nutrient that is important for strong, healthy hair. Vitamin A is another important nutrient found in leafy greens that plays a role in hair health.
         It helps your body make sebum, an oil that protects hair by moisturizing the scalp. </p>
        <h2>Fruits</h2>
        <p>Fruits rich in compounds that are important for healthy hair, including vitamin C and antioxidants, include:</p>
        <ol>
            <li>Berries</li> 
            <li> Cherries</li>
            <li>Apricots</li>
            <li>Grapes</li>
            <li>Oranges</li>
        </ol>
        <p>These fruits contain a number of antioxidants, including vitamin C, which can help to protect hair follicles from free radicals. 
            Vitamin C also helps your body absorb iron and make collagen, which is one of the proteins that builds hair and helps prevent hair loss. </p>
        <h2>Nuts and Seeds</h2>
        <p>These nutrient-dense foods have many nutrients that are important for preventing hair loss, including vitamin E, zinc, selenium, and omega-3 fatty acids.
        If you're worried about hair loss, some of the best choices to reach for are: </p>
        <ol>
            <li>Walnuts</li>
            <li>Brazil nuts</li> 
            <li>Almonds</li> 
            <li>Flax seeds</li> 
            <li>Chia seeds</li>
        </ol>
        <p>Zinc and selenium are essential trace elements that your body can't make, so it's important to get them through foods like nuts and seeds. 
            These trace elements are important for hair growth, and being low on them may lead to hair loss</p>
        <h2>Avocado Offers Vitamin E</h2>
        <p>Vitamin E improves the blood circulation and helps the follicles work more efficiently to promote hair growth.
            It also maintains the oil and PH levels balance which if exceeds can clog the hair follicles and stop hair growth. Avocado is great source of Vitamin E and it is also rich in the heart healthy monounsaturated fats. 
            You can add it to your breakfast sald or blend it into a green smoothie.</p>
        <h2>Oysters for Fullness</h2>
        <p>These are rich in zinc. When you don't have enough of this mineral in your diet, you can have hair loss even in your eyelashes.
             Cells that build hair rely on zinc to help them work their hardest. 
            You can also find this mineral in beef, crab, lobster, and fortified cereal.</p>
            <h2>
                Sweet Potatoes 
            </h2>
            <p> Sweet potatoes are filled with a good-for-you antioxidant called beta carotene. 
                Your body turns beta carotene into vitamin A. That helps protect against dry, dull hair. 
                It also encourages the glands in your scalp to make an oily fluid called sebum that keeps hair from drying out.</p>
                <p> You can also find beta carotene in other orange vegetables like carrots, pumpkin, cantaloupe, and mangoes.</p>
    </div>
    </body>
