<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <head><title> 
        careOgiene
    </title>
    </head>
    <style>
        body{
    background: url("https://img.freepik.com/free-vector/hand-drawn-flowers-background_79603-1546.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 60px;
}
h1{
    font-size: 100px;
    color: forestgreen
}
p{
    font-size: 20px;
}
img{
    width: 7cm;
    height: 8cm;
}
</style>
    <body>
        <h1>
        <img src="https://freelogocreator.com/user_design/logos/2022/11/24/84570-medium.png"><br>
        careOgiene</h1>
        <p>Don't have an account? <a href="/flipsignup">Sign Up</a><br></p>
        <p>Already have an account? <a href="/fliplogin">Login</a><br></p>
    </body>
</html>
