<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
       
       <h1>Food for Heathy Intestines</h1>
       <h3><u>Small Intestine</u></h3>
       <h2> Fish</h2>
       <div class="xyz">
           <div class="pqr">
            Fish is a healthy source of protein, a nutrient you need for tissue and cell repair and regeneration. A healthy small intestine will help your body take advantage of the amino acids in protein foods by helping you absorb more of them. A well-functioning small intestine will also help you absorb the healthy fats you eat.<br> Choosing fish helps you get more unsaturated, or healthy, fats in your diet while also reducing how much saturated fat you consume.<br> A healthy intake of unsaturated fat will also enable your small intestine to absorb fat-soluble vitamins and minerals from your food. Salmon, trout, halibut, tuna and mackerel are all healthy choices.
            
            
           
       </div><div class="pqr">
            <img src="https://www.news-medical.net/image.axd?picture=2020%2F2%2Fshutterstock_1314150635.jpg">
           </div>
       </div>
          <h2>Nuts and seeds</h2>
          <div class="xyz">
           <div class="pqr">
            Nuts and seeds contain beneficial fiber and protein for your small intestine so it is better able to work with the rest of your digestive system and the nutrients from your food and absorb them into your body.<br> Nuts and seeds, particularly walnuts and flaxseed, are also healthy sources of omega-3 fatty acids, which helps promote a healthy small intestine and digestive system.<br>



           
      
         
          </div> <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/9884/GettyImages-179751167.jpg">
          </div>

       
           <h2>Fruits and Vegetables</h2>
           <div class="xyz">
               <div class="pqr">
                A diet that includes fresh fruits and vegetables helps you get plenty of vitamins, minerals and antioxidants in your diet. Fruits and vegetables also contain fiber, which benefits the health of your entire digestive system, including your small intestine.<br> Jordan Rubin and Joseph Brasco note in their book, "Restoring Your Digestive Health," that fiber helps your body digest food and expel waste more efficiently.<br> This benefits the small intestine by enabling it to absorb the nutrients your body needs from the foods you eat.<br> Apples, raspberries, beans, peas, carrots and celery are all high-fiber fruits and vegetables, but any variety will help you get more fiber in your diet.
               
               
           </div><div class="pqr">
           <img src="https://cdn.lifehack.org/wp-content/uploads/2014/06/Fruits-and-vegetables.jpg">
           </div>
          </div>
         

          <h3><u>Large Intestine</u></h3>
           <h2>Whole grains</h2>
           <div class="xyz">
               <div class="pqr">
                White or brown rice? Whole-wheat or white bread? Doctors say that if you want your gut to work better, choose whole grains, since optimal colon function requires at least 25 grams of fiber daily.

Compared to refined carbohydrates, like white bread and pasta, whole grains provide lots of fiber, as well as added nutrients, such as omega-3 fatty acids. When gut bacteria ferment fiber, they produce short-chain fatty acids. These molecules encourage proper function in the cells lining the colon, where 70 percent of our immune cells live.

Despite the popularity of low-carb diets for weight loss, avoiding grains altogether may not be so great for the good gut bacteria that thrive on fiber.
          
               
              
       </div><div class="pqr">
        <img src="https://belvoir-university-health.s3.amazonaws.com/media/2020/05/08035544/what-are-whole-grains.jpg">
       </div></div>
           <h2>Avocado</h2>
           <div class="xyz">
               <div class="pqr">
                Avocado is a superfood packed with fiber and essential nutrients, such as potassium, which helps promote healthy digestive function. It’s also a low-fructose food, so it’s less likely to cause gas.

Be wary of portion sizes when it comes to foods like nuts and avocados. Although they are rich in nutrients, they are also high in fat, so be sure to eat them in moderation.
               
       </div><div class="pqr"> <img src="https://cdn.britannica.com/72/170772-050-D52BF8C2/Avocado-fruits.jpg">
       </div></div>
           <h2>Leafy greens</h2>
           <div class="xyz">
               <div class="pqr">
                Leafy greens, such as spinach or kale, are excellent sources of fiber, as well as nutrients like folate, vitamin C, vitamin K and vitamin A. Research shows that leafy greens also contain a specific type of sugar that helps fuel growth of healthy gut bacteria.

Eating a lot of fiber and leafy greens allows you to develop an ideal gut microbiome — those trillions of organisms that live in the colon.
           
                
           
       </div>
       <div class="pqr">
        <img src="https://www.crossfit.com/wp-content/uploads/2021/07/14105156/GreenVegetables-istock-med-768x432.jpg">
       </div> 
       </div>
    
       <h3>Other tips for healthy Intestines</h3>
       <ul>
        <li>Lower your stress levels. Chronic high levels of stress are hard on your whole body, including your gut.</li>
        <li>Get enough sleep.</li>
        <li>Eat slowly.</li>
        <li>Stay hydrated.</li>
        <li>Take a prebiotic or probiotic.</li>
        <li>Check for food intolerances. </li>
        <li>Change your diet.</li>
       </ul>
       
       </div>
       </body>
       </html>
           
