<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
       
       <h1>Food for Heathy Kidneys</h1>
       <h2> Cauliflower</h2>
       <div class="xyz">
           <div class="pqr">
            Cauliflower is a nutritious vegetable that’s a good source of many nutrients, including vitamin C, vitamin K, and the B vitamin folate.

            It’s also full of anti-inflammatory compounds like indoles and is an excellent source of fiber.
            
            Plus, mashed cauliflower can be used in place of potatoes for a low potassium side dish.
            
            
           
       </div><div class="pqr">
            <img src="https://img.freepik.com/premium-photo/cauliflower-isolated_93675-70786.jpg">
           </div>
       </div>
          <h2>Blueberries</h2>
          <div class="xyz">
           <div class="pqr">
            Blueberries are packed with nutrients and one of the best sources of antioxidants you can eat  .

            In particular, these sweet berries contain antioxidants called anthocyanins, which may protect against heart disease, certain cancers, cognitive decline, and diabetes (20).
            
            They also make a fantastic addition to a kidney-friendly diet, as they are low in sodium, phosphorus, and potassium.
      
         
          </div> <img src="https://images.everydayhealth.com/images/blueberries-101-1440x810.jpg">
          </div>
       
           <h2>Egg white</h2>
           <div class="xyz">
               <div class="pqr">
                Although egg yolks are very nutritious, they contain high amounts of phosphorus, making egg whites a better choice for people following a renal diet.

                Egg whites provide a high quality, kidney-friendly source of protein.
                
                Plus, they’re an excellent choice for people undergoing dialysis treatment, who have higher protein needs but need to limit phosphorus.
               
           </div><div class="pqr">
           <img src="https://i0.wp.com/post.healthline.com/wp-content/uploads/2021/10/eggs-cracked-shells-yokes-raw-1296x728-header.jpg">
           </div>
          </div>
           <h2>Garlic</h2>
           <div class="xyz">
               <div class="pqr">
                People with kidney problems are advised to limit the amount of sodium in their diet, including added salt.

                Garlic provides a delicious alternative to salt, adding flavor to dishes while providing nutritional benefits.
                
                It’s a good source of manganese, vitamin C, and vitamin B6 and contains sulfur compounds that have anti-inflammatory properties.
               
              
       </div><div class="pqr">
        <img src="https://chopra.brightspotcdn.com/dims4/default/78055c0/2147483647/strip/true/crop/660x371+68+0/resize/1200x675!/quality/90/?url=http%3A%2F%2Fchopra-brightspot.s3.amazonaws.com%2F35%2Ff1%2F39e602ed2bba2359ac95deb5f03a%2Fhealthbenefitsofgarlic.jpg">
       </div></div>
          
           <h2>Olive oil</h2>
           <div class="xyz">
               <div class="pqr">
                Olive oil is a healthy source of fat and phosphorus-free, making it a great option for people with kidney disease.

                Frequently, people with advanced kidney disease have trouble keeping weight on, making healthy, high calorie foods like olive oil important.
                
                The majority of fat in olive oil is a monounsaturated fat called oleic acid, which has anti-inflammatory properties  .
                
                What’s more, monounsaturated fats are stable at high temperatures, making olive oil a healthy choice for cooking.
                
           
       </div>
       <div class="pqr">
        <img src="https://static.toiimg.com/thumb/msid-67657194,width-1280,height-720,resizemode-4/.jpg">
       </div> 
       </div>
           
           <h2>Cabbage</h2>
           <div class="xyz">
               <div class="pqr">
                Cabbage belongs to the cruciferous vegetable family and is loaded with vitamins, minerals, and powerful plant compounds.

                It’s a great source of vitamin K, vitamin C, and many B vitamins.
                
                Furthermore, it provides insoluble fiber, a type of fiber that keeps your digestive system healthy by promoting regular bowel movements and adding bulk to stool  .
                
    
       </div>
       <div class="pqr">
           <img src="https://foodrevolution.org/wp-content/uploads/iStock-933853364.jpg">
       </div></div>
           <h2>Skinless chicken</h2>
           <div class="xyz">
               <div class="pqr">
                Although a limited protein intake is necessary for some people with kidney issues, providing the body with an adequate amount of high quality protein is vital for health.

Skinless chicken breast contains less phosphorus, potassium, and sodium than skin-on chicken.

When shopping for chicken, choose fresh chicken and avoid pre-made roasted chicken, as it contains large amounts of sodium and phosphorus.
                
           </div>
           <div class="pqr">
           <img src="https://4.imimg.com/data4/FE/XS/MY-29524681/fresh-chicken-500x500.jpg">
       </div></div>
       <h3>Some other food healthy Kidneys</h3>
       <li>Onions</li>
       <li>Radish</li>
       <li>Turnip</li>
       <li>Pineapple</li>
    

    
       <h3>Other tips for healthy kidneys
       </h3>
       <ul>
        <li>Make healthy food choices.</li>
        <li>Make physical activity part of your routine.</li>
        <li>Aim for a healthy weight.</li>
        <li>Get enough sleep.</li>
        <li>Stop smoking.</li>
        <li>Limit alcohol intake link.</li>
        <li>Explore stress-reducing activities.</li>
        <li>Manage diabetes, high blood pressure, and heart disease.</li>
       </ul>
    </div>
       </div>
       </body>
       </html>
          
