<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>

        <div class="abc">
         <h1>Lips care</h1>
         <h2>Drink Water to Keep Your Lips Hydrated</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    It's very important that you take care of your skin and body from the inside so that the changes can reflect on the outside. Water plays a major role in keeping you healthy which shows on your skin. Drinking at least eight to ten glasses of water each day should be your goal. This is one of the best, yet ignored, tips for pink lips that you can follow. 
                    </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/water-glass_74190-4045.jpg">
                </div>
                </div>

                <h2>Scrub Your Lips</h2>
            <p>
                    It's essential to scrub or exfoliate your lips once or twice a week. This lip care tip will help ensure that your lips stay healthy and baby-soft. Scrubbing also helps get rid of dead skin cells and it makes sure that your lips don't give in to any infection. You can either use a mild lip scrub that is available over the counter or make one at home. Here's an easy DIY lip scrub recipe - Mix one tablespoon each of coconut oil and natural honey, with two tablespoons of brown sugar and half a tablespoon of lukewarm water. Mix it well and store it in a small air-tight container. Rub this lip scrub on your lips in gentle circular motions for two to three minutes and rinse it off with lukewarm water. You will notice how soft and supple your lips feel right after. If you're using a lip care product, make sure the ingredients are chemical-free and do a patch test before you put it to use.
                    </p>
                

                <h2>Massage Your Lips</h2>
            <p>
                    One of the best tips for pink lips is to give them a good massage. It promotes blood circulation that in turn helps achieve that natural rosy sheen. However, be very gentle with your massage and only press the outer corners of your lips with your fingertips once you've applied a lip balm or a moisturiser to them. This will also give an illusion of fuller lips temporarily. But don't go overboard with massaging your lips. Limit it to two to three minutes each day right after you wash your face.
                    </p>
               

                <h2>Try a homemade lip scrub </h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Using this recipe, you can exfoliate the thin skin on your lips with raw sugar while you lock in moisture with almond oil and honey.
                    </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/front-view-person-holding-glass-with-tea-honey-dipper_23-2148567536.jpg">
                </div>
                </div>

                <h2>Moisturize with aloe vera </h2>
            <div class="xyz">
                <div class="pqr"><p>
                    You can purchase pure aloe vera gel or even crack a leaf from an aloe plant in your home for this remedy. Aloe vera has soothing and healing properties, helping lips to look their best.
                    </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/aloe-vera-product-display-wood-counter-background-aloe-vera-is-tropical-green-plants-sliced-aloe-vera-natural-organic-renewal-cosmetics-alternative-medicine-organic-skin-care-concept_1150-45669.jpg">
                </div>
                </div>

                <h2>Coconut oil</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Coconut oil is an emollient that not only moisturizes the skin, but according to a recent studyTrusted Source, it can also protect the skin by enhancing its barrier function.

Other benefits of coconut oil, especially with regard to chapped lips, are its anti-inflammatory and antibacterial properties.

Apply coconut oil to chapped lips as needed throughout the day. Use a cotton swab or a clean finger to dab the oil onto your lips.
                    </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/jug-coconut-oil-whit-coconut-put-dark-background_1150-28248.jpg">
                </div>
                </div>

                <h2>What can you do to prevent chapped lips?</h2>
            <p>
                    Don’t lick your lips. Licking may seem like a good way to moisten your lips when they’re dry, but saliva evaporates quickly. Licking your lips will cause them to dry out even more after the saliva evaporates.<br>
Stay hydrated. Drink plenty of water to keep your lips and the rest of your body hydrated.<br>
Use a humidifier. If the air is dry, you can use a humidifier in your home to add moisture to the air.<br>
Avoid lip products that contain irritants. Many lip products contain chemicals that can dry out your lips. Choose products that don’t contain fragrance, dyes, or alcohol.<br>
Protect your lips. Cold weather, heat, wind, and sun all contribute to chapped lips. Protect your lips with a moisturizing lip cream or balm that contains sunscreen before heading outdoors.<br>
Breathe through your nose. Mouth breathing can cause dry mouth and lips. Focus on breathing through your nose, and speak to your doctor about sinus and allergy medication if you’re often congested.
                    </p>
                
                

         </div>
         </body>
         </html>
