<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
       
       <h1>Food for Heathy liver</h1>
       <h2> Coffee</h2>
       <div class="xyz">
           <div class="pqr">
            Coffee is one of the best beverages you can drink to promote liver health.

Studies have shown that drinking coffee protects the liver from disease, even among those who already have problems with this organ.

For example, studies have repeatedly shown that drinking coffee helps lower the risk of cirrhosis, or permanent liver damage, in people with chronic liver disease .

Drinking coffee may also help reduce the risk of developing a common type of liver cancer, and it has positive effects on liver disease and inflammation
            
            
           
       </div><div class="pqr">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Roasted_coffee_beans.jpg/1200px-Roasted_coffee_beans.jpg">
           </div>
       </div>
          <h2>Grapefruit</h2>
          <div class="xyz">
           <div class="pqr">
            Grapefruit contains antioxidants that naturally protect the liver. The two main antioxidants found in grapefruit are naringenin and naringin.

Several animal studies have found that both help protect the liver from injury.

The protective effects of grapefruit are known to occur in two ways — by reducing inflammation and protecting cells.

Studies have also shown that these antioxidants can help reduce the development of hepatic fibrosis, a harmful condition in which excessive connective tissue builds up in the liver. This typically results from chronic inflammation.
         
          </div> <img src="http://www.loc.gov/static/managed-content/uploads/sites/16/2018/09/grapefruit.jpg">
          </div>
       
           <h2>Fatty fish</h2>
           <div class="xyz">
               <div class="pqr">
                Fatty fish contain omega-3 fatty acids, which are healthy fats that help reduce inflammation and have been associated with a lower risk of heart disease.

A 2016 analysis found that omega-3 fatty acids helped lower liver fat and triglycerides in those with nonalcoholic fatty liver disease or nonalcoholic steatohepatitis .

While consuming omega-3-rich fatty fish appears to be beneficial for your liver, adding more omega-3 fats to your diet is not the only thing to consider.
               
               
           </div><div class="pqr">
           <img src="https://www.news-medical.net/image.axd?picture=2020%2F2%2Fshutterstock_1314150635.jpg">
           </div>
          </div>
           <h2>Bluberries and Cranberries</h2>
           <div class="xyz">
               <div class="pqr">
                Blueberries and cranberries both contain anthocyanins, which are antioxidants that give berries their distinctive colors. They’ve also been linked to many health benefits.

Several animal studies have demonstrated that whole cranberries and blueberries, as well as their extracts or juices, can help keep the liver healthy .

Consuming these fruits for 21 days protected the liver from damage. Additionally, blueberries helped increase immune cell response and antioxidant enzymes .

Another study found that the types of antioxidants found commonly in blueberries slowed the development of lesions and fibrosis, which is the development of scar tissue, in the livers of rats 
                
       </div><div class="pqr">
        <img src="https://www.commwellhealth.org/images/blueberryVSCranberries_featured-748x350.jpg">
       </div></div>
           <h2>Prickly pears</h2>
           <div class="xyz">
               <div class="pqr">
                Prickly pear, known scientifically as Opuntia ficus-indica, is a popular type of edible cactus. Its fruit and juice are most commonly consumed.
                A 2004 study in 55 people found that the extract of this plant helped reduce symptoms of a hangover.

Participants experienced less nausea, dry mouth, and lack of appetite. They were also half as likely to experience a severe hangover if they consumed the extract before drinking alcohol, which is detoxified by the liver .
               
       </div><div class="pqr"> <img src="https://static.wikia.nocookie.net/recipes/images/c/c7/Picklypears.jpg">
       </div>
           <h2>Beetroot juice</h2>
           <div class="xyz">
               <div class="pqr">
                Beetroot juice is a source of nitrates and antioxidants called betalains, which may benefit heart health and reduce oxidative damage and inflammation .

It’s reasonable to assume that eating beets themselves would have similar health effects. However, most studies use beetroot juice. You can juice beets yourself or buy beetroot juice from the store or online.
           
                
           
       </div>
       <div class="pqr">
        <img src="https://c.ndtvimg.com/2018-10/s5sogbbo_beetroot-juice_625x300_03_October_18.jpg">
       </div> 
       </div>
           
           <h2>Cruciferous vegetables</h2>
           <div class="xyz">
               <div class="pqr">
                Cruciferous vegetables like Brussels sprouts, broccoli, and mustard greens are known for their high fiber content and distinctive taste. They’re also high in beneficial plant compounds.

Animal studies have shown Brussels sprouts and broccoli sprout extract help increase levels of detoxification enzymes and protect the liver from damage .

A study in human liver cells found that this effect remained even when Brussels sprouts were cooked.
          
                
    
       </div>
       <div class="pqr">
           <img src="https://health.clevelandclinic.org/wp-content/uploads/sites/3/2016/02/cruciferousVegetables-157439382-770x533-1-650x428.jpg">
       </div></div>
           <h2>Nuts</h2>
           <div class="xyz">
               <div class="pqr">
                Nuts are high in fats, nutrients like the antioxidant vitamin E, and beneficial plant compounds.

                This composition is responsible for several health benefits, especially for heart health, but also potentially for the liver.
                
                A 2019 study found a diet higher in nuts to be associated with a decreased risk of nonalcoholic fatty liver disease.
                
           </div>
           <div class="pqr">
           <img src="https://images.healthshots.com/healthshots/en/uploads/2021/12/03181231/nuts.jpeg">
       </div></div>
    </div>
       <h3>Other tips for healthy Liver</h3>
       <ul>
        <li>Be careful about alcohol consumption. If you think only lifelong, falling-down drunks get cirrhosis of the liver — you're mistaken.
            </li>
        <li>Wash produce and steer clear of toxins.</li>
        <li> Prevent hepatitis A, B and C.</li>
        <li>Watch out for medications and herbs.</li>
        <li>Exercise and eat right</li>
        
       </ul>
       
       </div>
       </body>
       </html>
          
