<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
            <h1>Weight loss</h1>
            <h3><u>Diet for Weightloss</u></h3>
            <h2>Chia seeds</h2>
            <div class="xyz">
                <div class="pqr">
                 When it comes to weight loss, fiber is king. It's satiating because it slows digestion and keeps us feeling fuller longer.<br> This is super important when we're cutting back on calories, a common approach to weight loss.<br> Consuming a serving of chia seeds, roughly 2 tablespoons, satisfies a whopping 40% of daily fiber needs.<br> And they're easy to incorporate into meals, especially breakfast and snacks, with foods like breakfast pudding, berry jam and energy balls.
                 
           
                
               
        </div><div class="pqr">
         <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2021/11/chia_seeds_GettyImages1282395572_Thumb.jpg">
        </div></div>
            <h2>Fatty fish</h2>
            <div class="xyz">
                <div class="pqr">
                 The Dietary Guidelines for Americans recommends consuming two servings of seafood each week because it contains essential fatty acids that we can only get through our diet.<br> In addition to supporting heart and brain health, omega-3 fatty acids found in fish like salmon, sardines and tuna may help to reduce body fat. Seafood is also high in protein to help curb hunger, keeping us full for hours. Fresh fish is great, but can be pricy to purchase every week. Consider frozen fish fillets or shrimp, which tend to be less expensive, and don't overlook canned seafood to whip up easy salmon patties, quick sardine toast or a classic niçoise salad.
                 
                
        </div><div class="pqr"> <img src="https://images.indianexpress.com/2018/01/omega-3-fish-thinkstockphotos-759.jpg">
        </div></div>
            <h2>Apples</h2>
            <div class="xyz">
                <div class="pqr">
                 Like vegetables, fruits are a smart addition to any healthy weight-loss plan.<br> Apples are especially good to have on hand throughout the week because they're inexpensive, keep for weeks in the fridge and make for a super-portable snack.<br> You can also get creative and work them into meals.<br> Apples are delicious atop salads and toast or whirred into soups and smoothies.<br> Because of their high water content and fiber (be sure to eat the skin), apples are low in calories and filling.<br>Research suggests these factors play a role in helping people lose weight.
                
                 
            
        </div>
        <div class="pqr">
         <img src="https://images-prod.healthline.com/hlcmsresource/images/AN_images/health-benefits-of-apples-1296x728-feature.jpg">
        </div> 
        </div>
        <h2>Fermented Foods</h2>
            <div class="xyz">
                <div class="pqr">
                 Gut health is a trending topic these days, and for good reason. <br>In addition to supporting immunity and good digestion, a healthy balance of good bacteria in the intestinal tract may help to promote fat burning.<br> Aim to include a few bites or sips of probiotic-rich foods most days, in addition to eating prebiotics (like bananas, asparagus, legumes and onions) which provide fuel for our healthy gut "bugs." <br>Good sources of probiotics include kefir and yogurt, sauerkraut, kombucha and tempeh.
                 
            
        </div>
        <div class="pqr">
         <img src="https://assets.heartfoundation.org.nz/images/all-shared-sections/blogs/fermented-foods.jpg?mtime=1669000866">
        </div> 
        </div>
     
        <h3>Other tips for Weight loss</h3>
        <ul>
         <li>Do not skip breakfast. Skipping breakfast will not help you lose weight.</li>
         <li>Eat regular meals.</li>
         <li>Eat plenty of fruit and veg.</li>
         <li>Drink plenty of water.</li>
         <li>Eat high fibre foods.</li>
         <li> Read food labels.  </li>
         <li>Use a smaller plate.</li>
        </ul>
        </div>
        </body>
        </html>
