<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
       
       <h1>Food for Heathy Lungs</h1>
       <h2> Beets and beet greens</h2>
       <div class="xyz">
           <div class="pqr">
            The vibrantly colored root and greens of the beetroot plant contain compounds that optimize lung function.

Beetroot and beet greens are rich in nitrates, which have been shown to benefit lung function. Nitrates help relax blood vessels, reduce blood pressure, and optimize oxygen uptake .

Beetroot supplements have been shown to improve physical performance and lung function in people with lung conditions, including COPD and pulmonary hypertension, a disease that causes high blood pressure in the lungs
            
           
       </div><div class="pqr">
            <img src="https://www.eatthis.com/wp-content/uploads/sites/4//media/images/ext/580191168/beet-greens.jpg?">
           </div>
       </div>
          <h2>  Peppers</h2>
          <div class="xyz">
           <div class="pqr">
            
            Peppers are amongst the richest sources of vitamin C, a water-soluble nutrient that acts as a powerful antioxidant in your body. Getting enough vitamin C is especially important for those who smoke.

In fact, due to the damaging effects of cigarette smoke on your body’s antioxidant stores, it’s recommended that people who smoke consume an extra 35 mg of vitamin C per day .

However, many studies show that smokers may benefit from higher doses of vitamin C and that smokers with high vitamin C intake have better lung function than those with lower vitamin C intake .
           
      
         
          </div> <img src="https://www.freshpoint.com/wp-content/uploads/2019/03/freshpoint-produce-101-peppers-4.jpg">
          </div>
       
           <h2>Apples</h2>
           <div class="xyz">
               <div class="pqr">
                Research has shown that regularly eating apples may help promote lung function.

For example, studies show that apple intake is associated with a slower decline in lung function in ex-smokers. Additionally, consuming five or more apples per week is associated with greater lung function and a reduced risk of developing COPD<br>
Apple intake has also been linked to a lower risk of asthma and lung cancer. This may be due to the high concentration of antioxidants in apples, including flavonoids and vitamin C
               
           </div><div class="pqr">
           <img src="https://images.everydayhealth.com/images/apples-101-about-1440x810.jpg">
           </div>
          </div>
           <h2>Pumpkin</h2>
           <div class="xyz">
               <div class="pqr">
          
                The brightly colored flesh of pumpkins contains a variety of lung-health-promoting plant compounds. They’re especially rich in carotenoids, including beta carotene, lutein, and zeaxanthin — all of which have powerful antioxidant and anti-inflammatory properties .

                Studies show that having higher blood levels of carotenoids is associated with better lung function in both older and younger populations .
                
                People who smoke may significantly benefit from consuming more carotenoid-rich foods like pumpkin.
              
       </div><div class="pqr">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3gd54v04RdTTt-X3PGD9vDaTofeI3zXyR_g&usqp=CAU">
       </div></div>
           <h2>Turmeric</h2>
           <div class="xyz">
               <div class="pqr">
                Turmeric is often used to promote overall health due to its potent antioxidant and anti-inflammatory effects. Curcumin, the main active component in turmeric, may be especially beneficial for supporting lung function .<br>

A study in 2,478 people found that curcumin intake was associated with improved lung function. Plus, the lung function of smokers who had the highest intake of curcumin was significantly greater than smokers who had low curcumin intake
       </div><div class="pqr"> <img src="https://cdn-prod.medicalnewstoday.com/content/images/articles/318/318405/turmeric-root-and-powder.jpg">
       </div>
           <h2>Tomato and tomato products</h2>
           <div class="xyz">
               <div class="pqr">
           
                Tomatoes and tomato products are among the richest dietary sources of lycopene, a carotenoid antioxidant that has been associated with improved lung health.

Consuming tomato products has been shown to reduce airway inflammation in people with asthma and improve lung function in people with COPD .

A 2019 study in 105 people with asthma demonstrated that a diet rich in tomatoes was associated with a lower prevalence of poorly controlled asthma. Plus, tomato intake is also associated with a slower decline in lung function in ex-smokers
           
       </div>
       <div class="pqr">
        <img src="https://www.kagomeindia.com/wp-content/uploads/Products_V3_03f.jpg">
       </div> 
       </div>
           
           <h2>Red Cabbage</h2>
           <div class="xyz">
               <div class="pqr">
          
                Red cabbage is an affordable and rich source of anthocyanins. These plant pigments give red cabbage its vivid color. Anthocyanin intake has been linked to a reduced decline in lung function.

What’s more, cabbage is packed with fiber. Studies show that people who consume more fiber have better lung function than those who consume low amounts of fiber
                
    
       </div>
       <div class="pqr">
           <img src="https://m.media-amazon.com/images/I/71Brq878BcL._SL1024_.jpg">
       </div></div>
           <h2>Olive oil</h2>
           <div class="xyz">
               <div class="pqr">
                Consuming olive oil may help protect against respiratory conditions like asthma. Olive oil is a concentrated source of anti-inflammatory antioxidants, including polyphenols and vitamin E, which are responsible for its powerful health benefits.

For example, a study that included 871 people found that those who had high olive oil intake had a reduced risk of asthma
           </div>
           <div class="pqr">
           <img src="https://cdn-prod.medicalnewstoday.com/content/images/articles/321/321246/olive-oil-in-a-bottle-which-may-be-used-on-the-face.jpg">
       </div></div>
       <h3>Some other food healthy lungs</h3>
       <li>Green tea</li>
       <li>Oysters</li>
       <li>Yogurt</li>
       <li>coffee</li>
       <li>Barley</li>

    </div>
       <h3>Other tips for healthy Lungs</h3>
       <ul>
        <li>Don't Smoke.</li>
        <li>Avoid Exposure to Indoor Pollutants That Can Damage Your Lungs.</li>
        <li>Minimize Exposure to Outdoor Air Pollution.</li>
        <li>reduced peripheral vision.</li>
        <li>Exercise.</li>
        <li>Prevent Infection.</li>
        <li>Get Regular Check-ups.</li>
       </ul>
       
       </div>
       </body>
       </html>
          
