<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>

        <div class="abc">
         <h1>Morning skin care routine</h1>

         <h2>Steps to Perfect Your Morning Routine</h2>
           <p>
                    Step 1: Cleanser- Use a cleanser tailored to your skin type. Many lines of products produce unique formulas for your specific skin, including dry skin, oily skin, and a combination of the two. Be sure to rinse, rinse, and rinse again!<br>
Step 2: Toner- After cleansing, you should apply a toner quickly. This is like a big drink of water for the skin and helps trap moisture into your skin and prevent evaporation.<br>
Step 3: Serum- Choose a serum that addresses your skin’s needs. If you use more than one type of serum, alternate them instead of layering. Nicol recommends using a Vitamin C serum, an antioxidant serum, and hydrating serums.<br>
Step 4: Moisturizer- Select a daily moisturizer that fits your skin type.<br>
Step 5: Eye Cream- A good eye cream is refreshing and can help the delicate skin around the eye.<br>
Step 6: Sunscreen- This is the most essential step when it comes to protecting your face. Some sunscreens come tinted, which can replace foundation. “Do not forget to also apply to the neck and hands,” says Nicol. “It is important to reapply every few hours when you are out in the sun.”
                </p>
                

            

                <h2>Aloe Vera And Honey Face Mask</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Mix 2 tablespoons of cold aloe vera pulp or gel with 2 teaspoons of honey. Blend well and apply over the face and neck. Let it sit for 30 minutes and wash off with cold water. Aloe vera calms inflammation and irritation while honey improves its hydration.  
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/premium-photo/aloe-vera-product-display-wood-counter-background_36049-127.jpg">
                </div>
                </div>

                <h2>Almond Oil Face Massage</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Apply 4 - 5 drops of almond oil over your face enough for it to form a film. Now using a stone roller, motion it from inwards to outwards and bottom to top on different areas of the face. Use short motions without moving in the opposite direction and do so with a gentle hand that's light on pressure. Continue for 10 minutes, then wash off with warm water and cleanser. Almond oil is a deeply nourishing agent for the face which is further enhanced by the massage which promotes circulation and lymphatic drainage.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/almond-oil-bottle-white-background_1150-45135.jpg">
                </div>
                </div>

                <h2> Turmeric, Besan And Rose Water Face Pack</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Combine 2 tablespoons of besan flour powder with half a teaspoon of turmeric powder and cold rose water in proportion to form a paste of thin-consistency. Apply to your face and neck, allow it to dry for 1 hour and wash off with warm water. While turmeric is naturally anti-bacterial, it works in tandem with besan which reduces excess oil and rose water that calms skin. 
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/premium-photo/ayurvedic-face-pack-mask-using-gram-flouror-besan-haldi-milk-ubtan-placed-brass-bowls-with-rose-petals-scrub-white-napkin-selective-focus_466689-29090.jpg">
                </div>
                </div>


                </div></body>
                </html>
