<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h2,h3,h5,h6,h7{
            font-size: 30px;
            color: rgb(0, 124, 128);
            text-align: left;
        }
        h1{
            font-size: 50px;
            color: rgb(211, 125, 168);
            text-align: center;
        }
        h4{
            font-size: 30px;
            color: rgb(0, 124, 128);
            text-align: left;
        }
       /* .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}*/
img{
    width: 600px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid rgb(231, 157, 231);
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        <center><h1> Foods for a Healthy Nervous System</h1></center>
      <h2>Dark Green Leafy Vegetables</h2>
        <p>
          Spinach, kale and chard are some of the dark green leafy vegetables that contain nutrients like magnesium, copper, folate and calcium. Copper is essential for the production of neurotransmitters. It prevents spinal cord degeneration and progressive failure of nerve function. Magnesium helps carry oxygen to the muscles, nerves and also calms the nerves. Vitamins like B, C and E present in leafy vegetables boost neurotransmitter function and slows down the aging of the brain and nervous system.
           </p>
            <img src="https://www.medindia.net/images/common/slideshow/950_400/dark-green-leafy-vegetables.jpg">
             <h3>Fish</h3>
          <p> 
            Omega-3 fatty acids found in fatty fish like salmon, tuna, sardines, mackerel, and trout help protect the nerves. Docosahexaenoic acid (DHA) and eicosapentaenoic acid (EPA) are the two types of omega-3 fatty acids that keep the nervous system healthy by maintaining nerve cell membranes. Studies have shown that omega-3 fatty acids can help repair and maintain the neural circuits that are important for learning, memory and locomotion. In general, omega-3 fatty acids found in fatty fish offer a great neuroprotective potential to help counteract the effects of neurologic injuries.
            </p>
             <img src="https://www.medindia.net/images/common/slideshow/950_400/fish.jpg">
      <h4>Turmeric</h4>
        <p>
          Turmeric is a spice known for its traditional culinary and medicinal use in India. It contains a polyphenol compound called curcumin, which has been shown to benefit the brain by providing protection, and through multiple mechanisms against neurological disorders. Curcumin acts as an antioxidant, anti-inflammatory, and anti-amyloidal agent to improve cognitive function in patients with Alzheimer's disease. Studies have shown that curcumin helps enhance the growth of new cells in the hippocampus and other areas of the brain. Curcumin plays a crucial role in learning, improving memory and mood. Turmeric can be added to different foods and even to smoothies and milk.
             </p>
             <img src="https://www.medindia.net/images/common/slideshow/950_400/turmeric.jpg">
              <h5>Nuts</h5>
    <p>
      Nuts like almonds, cashews, hazelnuts and walnuts are rich in magnesium, which is an important mineral for a healthy nervous system. Magnesium aids in the body's production of serotonin, which relaxes the nervous system and elevates mood. Magnesium deficiency can affect the neurotransmitters that support signal transmission between nerve cells. Thus, foods rich in magnesium like nuts should be included in the diet to improve nerve health. Vitamin B1 (thiamin) found in nuts play a role in healthy nerve and brain function. Thiamin deficiency can interfere with the production of certain neurotransmitter amino acids, such as glutamate and aspartate. Nuts rich in vitamin B1 are macadamia nuts, pecans and Brazil nuts.
    </p>
  <img src="https://www.medindia.net/images/common/slideshow/950_400/nuts.jpg">
  <h6>Liver</h6>
       <p>
        A diet deficient in vitamin B12 can cause problems with the myelin and affect the functioning of the nervous system, resulting in a degenerative disorder of the spinal cord. Nerve damage occurs when the myelin sheath that protects the nerve deteriorates. Vitamin B12 is an essential nutrient that plays a vital role in maintaining the myelin sheath. Foods rich in vitamin B12 such as liver can help heal damaged nerves. Other sources of vitamin B12 include fish, meat, poultry, eggs, milk, and milk products. Green leafy vegetables are not a good source of vitamin B12. Hence, some breakfast cereals fortified with vitamin B12 can be included in the vegetarian's diet.
        </p>
       <img src="https://www.medindia.net/images/common/slideshow/950_400/liver.jpg">
        <h7>Green Tea</h7>
      <p>
        Green tea contains catechins such as epigallocatechin-gallate, epigallocatechin, epicatechin, and epicatechin-3-gallate. These compounds can help reduce cognitive deterioration in aging. Studies have shown that long-term consumption of green tea has the potential to reverse the degenerative effects of aging in the brain. Green tea has a positive impact on the nervous system due to the presence of an amino acid called L-theanine. It helps increase the levels of dopamine and serotonin and induces a state of alert relaxation
      </p>
         <img src="https://www.medindia.net/images/common/slideshow/950_400/green-tea.jpg">
          </div>

    </body>
</html> 
