<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>

        <div class="abc">
         <h1>Night skin care routine</h1>

            <h2>Wash Your Face Every Single Night</h2>
            <p>
                    Washing your face can reduce the spread of blemish-causing bacteria and help your nighttime skincare products penetrate effectively. This will lead to brighter, clearer-looking skin come morning.
                </p>
                

                <h2>Treat</h2>
            <p>
                    Serum. Choose a serum that addresses your skin’s needs. If you use more than one type of serum, alternate them instead of layering. Nicol recommends using a Vitamin C serum, an antioxidant serum, and hydrating serums.
                </p>
                

                <h2>Hydrate</h2>
            <p>
                    Using toner adds an additional boost of hydration when my skin is feeling dehydrated, especially during winter. Toner is a water-like product that’s formulated with other beneficial ingredients that help to add more hydration to our skin.

It’s usually packed with antioxidants or humectants, which attracts water into our skin. What I like to do is put a generous amount of it into the palm of my hands and gently tap them on my face until it all absorbs.
                </p>
                
                <h2>Moisturize</h2>
            <p>
                    Moisturizer helps to lock in all the goodness that you’ve just put on your skin, while ensuring your skin stays hydrated. Not to mention your skin often feels soft and plump directly after applying it. 
                </p>
                

                

                

                <h2>Raw Milk, Saffron And Sandalwood Face Mask</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    To 3 tablespoons of sandalwood powder, add 2 strands of saffron and 4 tablespoons of cold raw milk enough to form a liquidised paste. Let it sit for 10 minutes, then apply over face and neck and allow it to dry naturally for another hour and a half. Milk works on banishing dullness while saffron and sandalwood are brightening agents.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/premium-photo/ayurvedic-chandan-sandalwood-paste-silver-bowl-with-sticksand-leaves-placed-sahanor-sahana-circular-stone-base-creating-paste_466689-60501.jpg">
                </div>
                </div>

                <h2>Cucumber And Yogurt Face Mask</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Blend 2 tablespoons of finely ground cold cucumber pulp with 1 tablespoon of cold yogurt. Whip to combine and apply over the face. After 30 minutes, wash with cold water and cleanser. This supremely cooling combination works well on over-heated, sunburned skin.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/fresh-cucumbers-sliced-dark-background_1150-45030.jpg">
                </div>
                </div>


                </div></body>
                </html>
