<html>
<style>
    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 75px;
    }
    h1{
        color:darkslateblue;
        text-align: center;
    }
    h2{
        color:maroon;
    }
    .pqr{
    float: left;
    width: 50%;
}
    .xyz:after{
    content: "";
    display: table;
    clear: both;
}
img{
width: 400px;
height:300px;
display: block;
margin-left: auto;
margin-right: auto;
}
.abc {
background-color:papayawhip;
border:15px solid darkslategray;
padding: 10px;
}
</style>
<body>
    <div class="abc">
        <h1>Remedies for oilyscalp</h1>
        <h2>Aloevera</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Aloe vera is beneficial for your hair. The vitamins and minerals present in aloe vera help to detoxify the scalp, thereby helping you remove impurities. 
            Besides, it repairs the scalp, reduces dandruff, and promotes hair growth.
             In fact, aloe vera has nutrition-rich compounds that nourish your scalp and soften the texture of your hair.</p>
        <p>How to use</p>
        <ol>
            <li>Mix 2 tbsp aloe vera and 4-5 drops of tea tree oil together.</li>
            <li>Apply the mixture all over your scalp, and massage for 4-5 minutes.</li>
            <li>Now, leave it for 10-15 minutes and then wash it off. </li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://www.wikihow.com/images/thumb/4/47/Mix-Aloe-Vera-Gel-with-Oils-Step-1.jpg/v4-460px-Mix-Aloe-Vera-Gel-with-Oils-Step-1.jpg">
            </div></div>
        <h2>Lemon juice</h2>
        <div class="xyz">
            <div class="pqr">
        <p>lemon is the most effective home remedy for a greasy and oily scalp. The acidic nature of lemon helps to remove excess oil or sebum from your hair, and also works as a great solution for dandruff. 
            It also kills bacteria, and helps to keep the oil away from your scalp. </p>
        <p>How to use</p>
        <ol>
            <li>Grind a handful of mint leaves and mix them with 2 tbsp lemon juice and 1 tbsp yogurt.</li>
            <li>Apply it on your scalp and hair, and let the mixture sit for 15 minutes. Do massage your scalp with this mixture.</li>
            <li>Now, wash it off with cold water.</li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://post.healthline.com/wp-content/uploads/2020/08/lemon-juice-thumb-1-732x549.jpg">
            </div></div>
        
        <h2>Fuller's earth (multani mitti)</h2>
        <div class="xyz">
            <div class="pqr">
        <p>We Indians just love multani mitti for our skin, don't we? Well, you can use it for your hair too, because multani mitti helps to strip away excess oil, thereby controlling the production of oil by the scalp.
             Further, it helps to increase blood circulation, which further promotes hair growth.</p>
        <p>How to use</p>
        <ol>
            <li>Soak the multani mitti in water for two to three hours, and make a thick paste out of it. </li>
            <li>Add tomato juice to multani mitti, and mix it properly.</li>
            <li>Apply it on the scalp, and leave it on for 20 minutes. After that, rinse it off with lukewarm water.</li>
        </ol>   
            </div>
            <div class="pqr">
        <img src="https://i1.wp.com/bechuzi.com/wp-content/uploads/2021/05/Multani-Mitti-Face-Pack-With-Tomato-Juice.jpg">
            </div></div>
        <h2> Egg white pack</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Egg white is rich in protein and high in sulfur, which can help you tackle oily hair and dandruff. 
            Not to mention, it also helps in nourishing and conditioning your hair. </p>
        <p>How to use </p>
        <ol>
            <li> Break an egg and separate the yolk,2 tbsp honey, and mix it well with egg yolk.</li>
            <li>Let it sit for 10 minutes, before applying it to the scalp.</li>
            <li>Massage your hair with this mixture for five minutes, and then let it stay on for about 20 minutes.Rinse it off with normal water.</li>
        </ol>
            </div>
            <div class="pqr">
                <img src ="https://www.oliveoil.com/content/images/2021/08/Olive-oil-egg-hair-mask.jpeg">
            </div></div>
        <h2> Green tea</h2>
            <div class="xyz">
                <div class="pqr">
            <p>Green tea has been enjoyed for centuries as the perfect health drink, but it can also do wonders for your tresses.
                 Yes, that's because it is rich in antioxidants.
                 It works perfectly well to reduce itchiness, dryness, and eliminates all kinds of impurities. </p>
            <p>How to use</p>
            <ol>
                <li>Boil the water with 2 green tea bags,2 tbsp olive oil keeping the water aside to cool down.</li>
                <li> Once cool, add olive oil, mix well and apply the liquid to your scalp.</li>
                <li>Massage this liquid into your scalp for 5-10 minutes, and then wrap a towel around your hair for the next 15 minutes.</li>
                <li>Wash off this mixture with cold water.</li>
            </ol>
                </div>
                <div class="pqr">
                    <img src ="https://i.insider.com/5f88a9c9d260780019341b02?width=750&format=jpeg">
                </div></div>   
            </div>
            </body>
            </html>
