<html>
<style>
    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 75px;
    }
    h1{
        color:red;
        text-align: center;
    }
    h2{
        color:deepskyblue;
    }
    .pqr{
    float: left;
    width: 50%;
}
    .xyz:after{
    content: "";
    display: table;
    clear: both;
}
img{
width: 400px;
height:300px;
display: block;
margin-left: auto;
margin-right: auto;
}
.abc {
background-color:honeydew;
border:15px solid magenta  ;
padding: 10px;
}
</style>
<body>
    <div class="abc">
        <h1>Remedies for splitends</h1>
        <h2>Ripe Papaya </h2>
        <div class="xyz">
            <div class="pqr">
        <p> Papaya also consists of folic acid. Folic acid helps in improving the blood circulation in your scalp and hair. 
            It also has vitamin A that enhances the production of sebum, which is natural oil present in the body. 
            Papaya helps in keep your scalp and hair follicles moisturised, promoting hair growth and preventing spit ends and frizzy hair.</p>
        <p>How to apply this?</p>
        <ol>
            <li>All you need is to blend a raw papaya and yoghurt to make a thick paste.</li> 
            <li>Apply it on your hair and wait for 30-45 minutes.</li>
            <li>Finally, wash it off using cold water.</li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://cdn.shopify.com/s/files/1/2135/8235/products/papaya222-1.png">
            </div></div>
        <h2>Black Lentils (Dal) </h2>
        <div class="xyz">
            <div class="pqr">
        <p>Black lentils are a wonderful source of proteins, iron, folic acid, phosphorus and fiber, among others.
             Folic acid is responsible for transporting oxygen from the blood to your hair follicles, thus improving the quality of your hair. 
            You can apply and off course include a lot of it in your diet.</p>
        <p>How to apply this?</p>
        <ol>
            <li>Make a coarse powder of half a cup of black lentils and one tablespoon of fenugreek seeds and blend it with half a cup of curd.</li>
            <li>Apply this thick paste on your hair and keep it for at least an hour before washing it off with a mild shampoo.</li>
        </ol>
            </div>
            <div class="pqr">
        <img src="https://www.finedininglovers.com/sites/g/files/xknfdk626/files/2021-06/black-lentils%C2%A9iStock.jpg">
            </div></div>
        
        <h2>Chamomile</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Chamomile is a brilliant ingredient for curing dry and frizzy hair.
             Its antiseptic properties remove the dead cells to let your hair grow properly.
             Regular use of chamomile helps to prevent split ends as it keeps the hair scalp and hair clean.</p>
        <p>How to apply this?</p>
        <ol>
            <li>Giving your hair a nice rinse with chamomile tea can result in beautiful hair.</li> 
            <li>All you need to do is soak two chamomile tea bags in boiling water and let it cool.</li> 
            <li>Once the water has extracted its elements, rinse your hair using this water.</li> 
            <li>You can use chamomile oil for massage too.</li>
        </ol>   
            </div>
            <div class="pqr">
        <img src="https://i0.wp.com/post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/01/chamomile-tea-on-a-board-1024x683.jpg?">
            </div></div>
        <h2>Honey</h2>
        <div class="xyz">
            <div class="pqr">
        <p>Honey has always been a healer, working wonders for maintaining a healthy body, hair or skin.
             Honey has humectant, which prevents loss of moisture, thus rescuing you from getting a dry scalp. 
             Consequently, it will also prevent split ends as it strengthens the hair follicles. 
            It also helps in keep your hair scalp clean due to its anti-bacterial properties.</p>
        <p>How to apply this?</p>
        <ol>
            <li>Using only honey and water can make your hair sticky and messy.</li>
            <li>A better way is to prepare a hair mask consisting of honey mixed with curd, olive oil and egg yolk (optional).</li>
            <li>Apply this mixture on your hair, including the scalp, and keep it for around 20-25 minutes before washing it off.</li>
        </ol>
            </div>
            <div class="pqr">
                <img src ="https://www.kashmirica.com/wp-content/uploads/2020/05/Organic-Honey.jpg">
            </div></div>
        <h2>Banana</h2>
            <div class="xyz">
                <div class="pqr">
            <p> Well, the banana hair mask is the answer! 
                Banana use on hair works as an amazing natural hair conditioner that makes your hair soft and free from split ends as it contains plenty of antioxidants, minerals, and vitamins.</p>
            <p>How to apply this?</p>
            <ol>
                <li>Mash the banana in a bowl until it is completely lump-free.</li>
                <li>Add the rose water and the coconut milk and blend all the ingredients to form a thick paste.</li>
                <li>Cover your hair with this mask, avoiding your roots if you suffer from the oily scalp.</li>
                <li>Rinse off the mask with water after 1 to 2 hours and use a mild shampoo to wash your hair.</li>
            </ol>
                </div>
                <div class="pqr">
                    <img src ="https://opt.toiimg.com/recuperator/img/toi/m-69839310/69839310.jpg">
                </div></div>   
            </div>
            </body>
            </html>
