<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
       
       <h1>Food for Heathy stomach</h1>
       <h2>Yogurt</h2>
       <div class="xyz">
           <div class="pqr">
            Yogurt is made from milk that has been fermented, typically by lactic acid bacteria.

It contains friendly bacteria known as probiotics, which are good bacteria that live in your digestive tract and can help improve digestion, keeping your gut healthy.<br>

While probiotics naturally occur in your gut, boosting your intake through foods like yogurt can ease digestion .<br>

Probiotics can help with digestive issues, such as bloating, constipation and diarrhea. They have also been shown to improve the digestion of lactose, or milk sugar .<br>

However, not all yogurt contains probiotics. When shopping, be sure to look for “live and active cultures” on the package.
            
            
           
       </div><div class="pqr">
            <img src="https://www.archanaskitchen.com/images/archanaskitchen/BasicRecipes_HOW_TO/How_To_Make_Fresh_Homemade_Yogurt_Curd.jpg">
           </div>
       </div>
          <h2>Apples</h2>
          <div class="xyz">
           <div class="pqr">
            Apples are a rich source of pectin, a soluble fiber.<br>

Pectin bypasses digestion in your small intestine and is then broken down by the friendly bacteria in your colon.<br>

It increases stool volume and is therefore commonly used to resolve constipation and diarrhea. It has also been shown to decrease the risk of intestinal infections, as well as inflammation in the colon.
           
      
         
          </div> <img src="https://img.freepik.com/free-photo/apples-red-fresh-mellow-juicy-perfect-whole-white-desk_179666-271.jpg">
          </div>
       
           <h2>Fennel</h2>
           <div class="xyz">
               <div class="pqr">
                Fennel, a plant with a pale bulb and long green stalks, is used to add flavor to food.<br>

Its fiber content helps prevent constipation and improves regularity in your digestive tract .<br>

Fennel also contains an antispasmodic agent that relaxes the smooth muscles in your digestive tract. This action can reduce negative digestive symptoms like bloating, flatulence, and cramping .<br>
               
               
           </div><div class="pqr">
           <img src="https://kashmirsalesmart.com/wp-content/uploads/2020/11/Fennel-Seeds.jpg">
           </div>
          </div>
           <h2>Chia seeds</h2>
           <div class="xyz">
               <div class="pqr">
                Chia seeds are an excellent source of fiber, which causes them to form a gelatin-like substance in your stomach, once consumed. They work like a prebiotic, supporting the growth of healthy bacteria in your gut and therein contributing to healthy digestion .<br>

Their fiber content also helps promote bowel regularity and healthy stools.
          
               
              
       </div><div class="pqr">
        <img src="https://www.whitneyerd.com/wp-content/uploads/2021/05/Chia-Seeds-Ground-or-Whole-1.png">
       </div></div>
           <h2>Papaya</h2>
           <div class="xyz">
               <div class="pqr">
                The luscious tropical fruit papaya contains a digestive enzyme called papain.<br>

It assists during the digestive process by helping break down protein fibers. While not required in your diet, it can aid the digestion of protein .<br>

Papain may also ease symptoms of irritable bowel syndrome (IBS), such as constipation and bloating .<br>

It’s commonly used as the main enzyme in digestive supplements due to its gastrointestinal capacities.
               
       </div><div class="pqr"> <img src="https://plantura.garden/uk/wp-content/uploads/sites/2/2022/06/eating-papaya.jpg">
       </div>
           <h2>Whole grains</h2>
           <div class="xyz">
               <div class="pqr">
                Grains are the seeds of grasslike plants called cereals.<br>

To be classified as a whole grain, it must contain 100% of the kernel including the bran, germ and endosperm.<br>

Popular fiber-packed whole grains include oats, quinoa, farro and products made from whole wheat. The fiber found in these grains can help improve digestion in two ways.<br>

First, fiber helps add bulk to your stool and can reduce constipation.<br>

Second, some grain fibers act like prebiotics and help feed healthy bacteria in your gut .
           
                
           
       </div>
       <div class="pqr">
        <img src="https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-4foodgroups_grains_detailfeatureb_thumb.jpg">
       </div> 
       </div>
           
           <h2>Beets</h2>
           <div class="xyz">
               <div class="pqr">
                Beetroot, otherwise known as beets, is a good source of fiber.<br>

One cup (136 grams) of beets contains 3.4 grams of fiber. Fiber bypasses digestion and heads to your colon, where it feeds your healthy gut bacteria or adds bulk to your stool — which both improves digestion.<br>

A few popular ways to eat beets include roasted, mixed in a salad, pickled or blended into a smoothie.
          
                
    
       </div>
       <div class="pqr">
           <img src="https://post.healthline.com/wp-content/uploads/2020/09/AN172-Beets-732x549-Thumb_0.jpg">
       </div></div>
           <h2>Ginger</h2>
           <div class="xyz">
               <div class="pqr">
                Ginger is a traditional ingredient in Eastern medicine that helps improve digestion and prevent nausea. Many pregnant women use it to treat morning sickness .<br>

From a digestion standpoint, this yellowish root has been shown to accelerate gastric emptying.<br>

By moving food from your stomach to your small intestine quicker, ginger reduces your risk of heartburn, nausea and stomach discomfort.
                
           </div>
           <div class="pqr">
           <img src="https://assets.epicurious.com/photos/58d3fed8e2c8295cfbf4a52f/5:4/w_1665,h_1332,c_limit/ginger_root_pile_23032017.jpg">
       </div></div>
       <h2>Dark green vegetables
       </h2>
       <div class="xyz">
           <div class="pqr">
            Green vegetables are an excellent source of insoluble fiber.<br>

This type of fiber adds bulk to your stool, quickening its pace through your digestive tract .<br>

Green vegetables are also a good source of magnesium, which can help relieve constipation by improving muscle contractions in your gastrointestinal tract .<br>

Some of the most common dark green vegetables that provide this benefit are spinach, Brussels sprouts, broccoli and other leafy greens.<br>

In addition, a 2016 study revealed an unusual sugar found in green leafy vegetables that feeds good bacteria in your gut. This sugar is thought to aid digestion while also impairing some of the bad bacteria that can cause illnesses .
      
    
   </div>
   <div class="pqr">
       <img src="https://assets.babycenter.com/ims/2014/02/71262171_4x3.jpg">
   </div></div>
   <h2>Salmon</h2>
   <div class="xyz">
       <div class="pqr">
        Salmon is an excellent source of omega-3 fatty acids, which can help reduce inflammation in your body .<br>

People with inflammatory bowel disease, food intolerances and other digestive disorders often have inflammation in the gut. Omega-3 fatty acids may help reduce this inflammation and thereby improve digestion.

  
        

</div>
<div class="pqr">
   <img src="https://post.healthline.com/wp-content/uploads/2021/12/salmon-fillet-fillets-732x549-thumbnail-732x549.jpg">
</div></div>
            <h3>Other tips for healthy stomach</h3>
       <ul>
        <li>Do not rush your food. Take the time to eat slowly.</li>
        <li> Do not overeat.</li>
        <li>Eat regularly and try not to skip meals.</li>
        <li>Avoid eating a big meal just before you go to bed.</li>
        <li>Make sure you have plenty of water to drink.</li>
       </ul>
       
       </div>
       </body>
       </html>
          
