<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>
        <div class="abc">
        
        
    <h1>Underarm care routine</h1>
    <h2>1.Cleanse</h2>
    <p>
            Step one in your daily underarm care routine is cleansing. Sweat mixes with bacteria and produces body odor. Over time, bacteria and odor will build up if it’s not cleaned daily. It only takes using soap and water to wash off the germ build-up.

            Even if you don’t shower every single day, at least make sure to cleanse your armpits. Keep in mind that your armpit skin is sensitive. Therefore, use a mild soap and be careful to not rub too hard. (If you have problems with body odor, consider using an antibacterial soap.)  
    </p>
        
        <h2>2.Tone and moisturize</h2>

        <p>
                After washing your armpits, it’s important to apply toner. Toner works to gently remove bacteria as well as leftover residue from deodorants and antiperspirants. Some toners are healthier for your skin than others, so make sure to look for one that fits your skin’s needs.
            </p>
            
        <h2>3.Exfoliate</h2>

            <p>
                    An important part of underarm care is exfoliating once or twice a week. This is an important step because it removes the dead skin cells from the top layer of skin, which prevents odor-causing build-up.
                </p>
                
<h2>3.Shave and maintain your razor</h2>
                <p>
                        Part of your underarm care routine should include shaving 2 to 3 times a week. (Yes, guys… we mean you!) Shaving your underarm hair is beneficial for numerous reasons:

Sweat doesn't get trapped in the hair, which prevents it from evaporating.
Soaps can reach the surface of your skin, thereby killing bacteria that hide in the recesses.
The lack of hair allows deodorants or antiperspirants to penetrate your skin, making them more effective.
If you are shaving with a razor, make sure you lubricate your armpits. For best results, use shaving gel or cream. The hair in your armpits grows in all directions,  so be sure to shave in all directions: up, down, and side-to-side.<br>
                        It is very important to use well-sharpened razors when shaving. If you don’t, it creates opportunities for micro-tears in your skin, which can lead to infections. The best way to prevent micro-tears is to switch to a new blade about every five uses or so. Keep the blade out of the shower so that it can dry thoroughly and avoid rust stains. 
                    </p>
                    
<h2>4.Wear breathable fabrics</h2>
                    <p>
                            The last of our underarm care tips is to wear breathable fabrics. Fabrics that are breathable allow air to easily flow through them, which speeds up sweat evaporation. In turn, this also helps prevent potential odor. Most natural fibers will do the trick, though a few synthetic fabrics are lightweight and breathable
                        </p>
                        
                        <h1>Home remedies for smelly underarms</h1>
<h2>Turmeric</h2>
                        <div class="xyz">
                            <div class="pqr"><p>
                                Turmeric might help to effectively kill bacteria, which react with sweat and cause a bad odour).2 This can be used as one of the home remedies for smelly underarms. You can use turmeric powder to make a paste which is not too liquid. Apply this prepared mixture to the underarms and leave it for some time. You can then rinse it off. Using this regularly might prove to be a good remedy for an underarm smell. 
                            </p>
                            </div>
                        <div class="pqr">
                             <img src="https://img.freepik.com/free-photo/dry-turmeric-dust-haldi-powder-also-known-as-curcuma-longa-linn-selective-focus_466689-75849.jpg">
                            </div>
                        </div>
<h2>Lemon juice</h2>
                            <div class="xyz">
                                <div class="pqr"><p>
                                    Lemon juice has citric acid, which kills the bacteria. As a remedy for smelly underarms, you can take a lemon and juice it, then mix this juice in water. You can put this lemon juice in a spray bottle and spray it on your underarms.You can also just apply a little bit of this mixture directly on your armpits if you do not have a spray bottle.  
                                </p>
                                </div>
                            <div class="pqr">
                                 <img src="https://img.freepik.com/free-photo/lemon-slices-wooden-board-with-whole-lemon-marble-background_114579-53577.jpg">
                                </div>
                            </div>
<h2>Green tea</h2>
                                <div class="xyz">
                                    <div class="pqr"><p>
                                        Green tea might help you block the pores on your skin and reduce sweating.1 To use green tea to avoid smelly armpits, you can take a few green tea bags and soak them in warm water, like we usually do while making tea. Then, take the tea bags out, and when they reach room temperature, you can put these tea bags under your armpits for a few minutes. Consistent use of this remedy might prove to be a good smelly armpit remedy. 
                                    </p>
                                    </div>
                                <div class="pqr">
                                     <img src="https://img.freepik.com/free-vector/green-herbal-tea-teabag-pile-fresh-plant-set-triangular-aromatic-bag-with-label-design-tag-realistic-healthy-drink-isolated-white-background_575670-1209.jpg">
                                    </div>
                                </div>
    </div>
