<html>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 75px;
            margin-right: 75px;
        }
        h1{
            color: olive;
            text-align: center;
        }
        h2{
            color: orange;
        }
        .pqr{
        float: left;
        width: 50%;
}
        .xyz:after{
        content: "";
        display: table;
        clear: both;
}
img{
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.abc {
  background-color: oldlace;
  border: 15px solid darkgreen;
  padding: 10px;
}
    </style>
    <body>

        <div class="abc">
         <h1>Home remedies for skin in winter</h1>

            <h2>Banana face pack</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    If your face is too dry then you can apply banana face pack. All you need to do is to mash the bananas add milk, honey, lime juice to it and apply this on face.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/front-close-view-delicious-bananas-exotic-food_140725-23062.jpg">
                </div>
                </div>

                <h2>Honey and egg white pack</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Honey and egg are some of the best ingredients that people are using since ages. They provide the exact moisture to the skin and the end result is soft and glowing skin.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/delicious-honey-with-wooden-honey-dipper-white-surface_1150-42253.jpg">
                </div>
                </div>

                <h2>Almond oil</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Almond oil is extremely beneficial for the skin as it provides the appropriate moisture and maintain the natural glow. You can massage your face with almond oil and leave it overnight for the best results. Use it on a daily basis to get more radiant and glowing skin.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/almond-oil-bottle-white-background_1150-45137.jpg">
                </div>
                </div>

                <h2>Aloe vera</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    Aloe vera gel acts as a great moisturizer because of its non-greasy texture and can double as an aftershave too. It also keeps away acne and wrinkles on the skin, helping to keep your skin firm.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/aloevera-table_144627-32380.jpg">
                </div>
                </div>

                <h2>Coconut oil</h2>
            <div class="xyz">
                <div class="pqr"><p>
                    All hail the great savior that is coconut oil, for there’s nothing it can’t do – except maybe be used on oily skin types! But for dry and dull skin, coconut oil acts as an excellent moisturizer.
                </p>
                </div>
            <div class="pqr">
                 <img src="https://img.freepik.com/free-photo/coconut-oil-isolated-white-background_123827-21211.jpg">
                </div>
                </div>


                <h2>Food</h2>
            <p>
                    Good hydration and nutrients intake can help protect skin in the winter months. Dr Ravindra suggests foods that should be added and avoided this winter. 

Foods to be added in winter:
<ul>
<li>Seasonal fruits n veggies</li>
<li>Green leafy vegetables</li>
<li>Nuts and berries</li>
<li>Jaggery</li>
</ul>
Foods to be avoided in winter:
<ul>
<li>Packed fruit juices and soft drinks</li>
<li>Reduce dairy products, cake and pastries</li>
<li>Fried foods and junk food</li>
<li>Refined flour</li>
</ul>
                    
                </p>
                


                </div></body>
                </html>
